[2021-01-03 22:11] SamuelAlev opened #1 "Build fail"
I updated the lib to be able to use Vite 2 and now, dev works fine but builds fail with an issue.
I use the manual import way e.g `import CarbonArrowLeft from '/@vite-icons/carbon/arrow-left.vue'` and then use it like this `<carbon-arrow-left />`

Here is the error when building
[code]

My Vite config:
[code]

[2021-01-04 16:04] antfu commented on #1
Can you share with me a reproduce repo? Thanks.

[2021-01-06 10:38] nandordudas opened #2 "Cannot find module '@iconify/json'"
I have got the same error yesterday like #1 and tried to reproduce, but got another errors.

Here is the example repo.

[code]

After manually installed `@iconify/json` got another error.

Node: v15.5.1
OS: Manjaro Linux x86_64

[2021-01-06 10:40] antfu commented on #2
`@iconify/json` is a peer deps and you should install it as dev dependencies.

[2021-01-06 10:40] #2 closed

[2021-01-06 10:40] nandordudas opened #3 "Failed to resolve import "vue""
This is related to #2

Here is the example repo.

[code]

[code]

Node: v15.5.1
OS: Manjaro Linux x86_64

[2021-01-06 11:23] #1 closed

[2021-01-06 11:23] #3 closed

[2021-01-07 15:46] Septias opened #4 "Error: Cannot find module '@iconify/json'"
I just installed it with npm and added:
`import IconAccessibility from "/@vite-icons/carbon/accessibility.vue";`
Now I get:
[code]

[2021-01-07 16:23] antfu commented on #4
Duplicated #2

[2021-01-07 16:23] #4 closed

[2021-01-11 22:07] jacobclevenger opened #5 "dynamic icon components"
Is it possible to dynamically use icons?

I'm using the vitesse template and would previously use something like `<Icon :icon="myIconVariable" />` but now it seems like that no longer exists so I was wondering if it is still possible to do something like that.

I tried something like this without much luck
[code]

[2021-01-12 01:59] antfu commented on #5
No, this plugin is designed to be used statically. Can you combine it with vite-plugin-purge-icons to have both SSR icons and runtime dynamic icons.

[2021-01-12 20:00] jacobclevenger commented on #5
Oh okay, gotcha. I'll give that a shot, thanks!

[2021-01-12 20:00] #5 closed

[2021-01-13 11:08] alvarosaburido opened #7 "Add icons dynamically"
Hi, awesome work with this plugins man, enjoying a lot playing around with `vueuse` and this one.

Which would be the approach to dynamically insert icons? Let's say I have a menu metadata in a js object and icon is one of the properties.

One option I guess would be to use `<component :is="menuitem.icon"> ` where `icon: IconAccountBox` .

Would make sense to add a component `<icon :name="carbon-i

[2021-01-13 11:12] antfu commented on #7
#5, you can use https://github.com/antfu/purge-icons for dynamic loading and this for statical bunding. Guess I should update the README about this 😅

[2021-01-13 11:16] #7 closed

[2021-01-13 11:16] alvarosaburido commented on #7
I could also check if there was one opened already haha, but it will help yes hehe. Thanks

[2021-01-13 11:26] antfu commented on #7
But yeah, maybe we could have a configure to bundle all the icons in a collection (but that's what I am trying to solve here 😅). You can give it a shot if that makes sense to you, I will help for sure :)

[2021-01-13 11:27] antfu opened #8 "Configure to bundle icon sets"
Provide a configuration to bundle a specified set of icons and load them sync/asynchronously.

_Originally posted by @antfu in https://github.com/antfu/vite-plugin-icons/issues/7#issuecomment-759386707_

[2021-01-13 11:27] antfu commented on #7
Made an issue to track on that.

[2021-01-15 21:27] amrbashir opened #9 "any plans to support dynamic components ?"
I have a use case where I have a list of objects that contains the icon information so I tried using:
[code]
but no luck and quite frankly I am not sure if it is even possible.

[2021-01-17 12:23] antfu commented on #9
#5 #7 #8

[2021-01-17 12:23] #9 closed

[2021-01-17 12:54] amrbashir commented on #9
Oh sorry for the inconvenience, I guess I should've searched the closed issues.

[2021-01-19 03:33] delaneyj opened #10 "dynamic icons?"
Say you have `const providers = ref(['google','facebook'])` and what to load icons based on the names.  How could you do that with this library?  For static icons its working great!

[2021-01-19 04:13] antfu commented on #10
#5 #7 #8 #9

Again, I am happy to receive any ideas about implementing the dynamics icons.

[2021-01-31 15:45] juan267 opened #11 "Icons break build after upgrading to a Vite versions greater than 2.0.0-beta.52"
Problem:

If you update to any version of Vite greater than 2.0.0-beta.52 the following error will start appearing

<img width="1436" alt="Screen Shot 2021-01-31 at 10 41 59" src="https://user-images.githubusercontent.com/8763740/106389394-0fc71a80-63b1-11eb-9842-45eb4a21dbdf.png">

This error comes from the components being generated by this plugin:

<img width="1440" alt="Screen Shot 2021-01-31

[2021-01-31 16:48] antfu commented on #11
It works for me with 2.0.0-beta.60. Can you check again?

[2021-02-01 01:37] juan267 commented on #11
@antfu you are right I try it with a clean install of vitesse and it worked. Don't know what's getting broken on my build. Thanks for looking at it 👍

[2021-02-01 01:37] #11 closed

[2021-02-03 06:53] NoelDeMartin opened #12 "Custom Icons"
This is great, I've tried using the [vscode-iconify](https://github.com/antfu/vscode-iconify) with [Vitesse](https://github.com/antfu/vitesse) and the DX is super good, I don't think I'll want to go back to the older days!

Which raises the following question: Is it possible to configure custom svgs to be loaded using the same system? I know since the icons are my own, I can just pack them in the

[2021-02-03 08:56] antfu commented on #12
Thanks, glad you enjoy the workflow!

For the custom icon sets, it's indeed possible for `vite-plugin-icons` to support it. But we'd need to design a good API and conventions for loading the custom icons. What would you expect for how the API looks like to you can configure it?

[2021-02-03 19:50] NoelDeMartin commented on #12
Well, using Vitesse as an example, and assuming I have a custom icon called `my-custom-icon.svg`, I'd like to use it like this:

[code]

Where "vitesse" is the namespace of my app, maybe by default it could be "app" if it isn't specified, so you'd write:

[code]

And I think it's pretty common to have icons under `src/assets/icons`, so that could also be a good default. Although I'm not sure if it

[2021-02-06 03:43] JohnCampionJr commented on #12
Could I also suggest an ability to import an Iconify JSON bundle?  As an example, Font Awesome Pro JSONs are available but not part of the public Iconify bundles.

[2021-02-17 12:50] Mvsvh opened #13 "Icons get "transform: translateY(-5%);" by default"
I was wondering why icons get "transform: translateY(-5%) by default. Is this intended? Or is intrinsic to the icon packs?

![image](https://user-images.githubusercontent.com/19476943/108206666-fd760c00-7126-11eb-9c2a-1eacadc9bf89.png)

[2021-02-17 14:19] innocenzi commented on #8
Personally, what I am trying to solve is a workflow with which I could provide an icon list (or bundle), and be able to use them dynamically with a component, like the following:

[code]

I'm conflicted about where the logic should be. I like @NoelDeMartin's idea about having a directory from which icons are loaded, but that implies a dependency on `vite-plugin-components`, which I feel should not

[2021-02-17 15:25] antfu commented on #13
Yes, it's by design. You can configure it via:

https://github.com/antfu/vite-plugin-icons/blob/0e6cd82b8df806ecbbbefdb48bbab79873c5a46e/src/types.ts#L12-L14

[2021-02-17 15:25] #13 closed

[2021-02-17 15:29] antfu commented on #8
Sounds good and feel free to give it a shot!

Do you think it's better to explicitly name it `customCollections`?

[2021-02-17 15:33] innocenzi commented on #8
Alright, I'll try to work on that if I can find some time. And yes, it's a better name. :+1:

[2021-02-19 11:28] timozander opened #14 "Failing to load icons when not using auto-discovery"
Hi!

I updated my existing application to the latest Vite (beta.29 -> 2.0.1) and vite-plugin-icons (0.2.1 -> 0.2.2) versions. Since then, the plugin fails to load the icons:

<details>
  <summary>Log</summary>

[code]

</details>

Link to repro: https://github.com/timozander/vite-icon-bug-repro

`resolveId` is called, however, then Vite seems to ignore your `load()` function and passes it directly

[2021-02-19 11:42] antfu commented on #14
I am not sure why, but seems that vue plugin hjack all the links with `.vue`.

So actually, this could work as well

[code]

[2021-02-19 11:44] #14 closed

[2021-02-20 23:50] ahawkclint opened #15 "Can't load icons with vitepress"
Hey with the latest vitepress the icons can't install.  Tried both options with no avail.  I just get a blank page.

[code]

Also I can't update vite-plugin-windicss to the latest version and have it work with vitepress. The latest version that works is

[code]

Thanks for the great work.

[2021-02-21 15:46] JohnCampionJr opened #16 "Typings for imported icons"
Hi!  Any way to have typings for imported icons?

[code]

has the usual no typings found error.
Have to import them rather than auto-import because they're being used in a list like this:
[code]

Trying to build a list of menu items like so
[code]

The string icons don't get imported as a component, and I can't figure out how to inline import them so I"m trying to just do the standard import but I

[2021-02-22 01:50] antfu commented on #16
You can import them with `.vue`

[code]

[code]

[2021-02-22 01:50] #16 closed

[2021-02-22 01:52] antfu commented on #15
Can't really help without a repro. Icons/componentss are working with Vitepress in VueUse's docs while WindiCSS plugin is working with Vitepress in WindiCSS' docs.

[2021-02-22 01:52] #15 closed

[2021-02-22 02:30] JohnCampionJr commented on #16
I actually tried that but couldn't get it to work in a Vitesse setup.

[2021-02-24 04:03] JohnCampionJr opened #17 "Icon names ending in numbers are not working"
It appears icons with ending numbers aren't working.

`<heroicons-outline-menu-alt-2 />`

gets converted to:

`/@id/@vite-icons/heroicons-outline/menu-alt2`

and of course fails to load without the missing hyphen

[2021-02-24 05:15] #17 closed

[2021-02-26 13:40] benjaminlewandowski opened #18 "expects "vue-template-compiler" with vue 3"
after update to 0.3.0 the plugin throws an errow when using vue 3.

rollback to 0.2.4 fixed it for me.

[2021-02-26 13:47] #18 closed

[2021-03-02 05:29] chojnicki commented on #12
I resolved problem, but not by using this package.

Vite-plugin-icons uses vite-plugin-components from same author (thanks @antfu for awesome work) for auto-discovery components, so Installed this instead. Then I combined this with [vite-plugin-vue-svg](https://www.npmjs.com/package/vite-plugin-vue-svg) for importing .svg as components. Simple as that, now we have universal package for any icons p

[2021-03-05 15:43] 3nuc opened #19 "Elusive Icons `el-` prefix conflicts with element-plus component `el-` prefix"
In [`element-plus`](https://github.com/element-plus/element-plus), components have the el- prefix (eg `<el-button>Hi</el-button>`

However, [Elusive Icons](https://iconify.design/icon-sets/el/) also has an `el-` prefix.

Example:
`<el-upload>` = Element Plus component -> https://element-plus.org/#/en-US/component/upload
`<el-upload>` = Elusive icons icon -> https://iconify.design/icon-sets/el/uplo

[2021-03-05 16:08] antfu commented on #19
https://github.com/3nuc/tworzenie-aplikacji-sieciowych/blob/091e9c32c9ce4c77b5ba9423f37c03a808c09550/front/vite.config.ts#L55-L56

You can either add a prefix for icons (which is the default, but I prefer non-prefix in Vitesse). Or only enable certain icon collections

[2021-03-05 16:08] #19 closed

[2021-03-05 16:10] 3nuc commented on #19
@antfu I just saw this in my config and wanted to close. Sorry for the trouble
For future visitors: https://github.com/3nuc/tworzenie-aplikacji-sieciowych/commit/8af7867055d227a72977b78e97e2936c46f4fb52

[2021-04-09 19:54] FallDownTheSystem opened #22 "Icons aren't aligned correctly"
Using the icons via the plugin and comparing them to the pasted in SVG, you can see the vertical alignment is wrong.

See
[code]

The only added part is the width and height classes.

See ![image](https://i.imgur.com/3lpjpka.png) for reference.
The latter arrow (direct SVG) is aligned correctly with the text, whereas the plugin icon is a little too high. I tried with a couple of different icon set

[2021-04-09 20:53] FallDownTheSystem commented on #22
I just looked at the code and it seems there's a default style
`'vertical-align: middle; transform: translateY(-5%);'`

I'm not sure why.

[2021-04-09 21:56] antfu commented on #22
Removed the default in v0.5.0.

[2021-04-09 21:56] #22 closed

[2021-04-11 08:53] NoelDeMartin commented on #13
Hey, I'm curious, what's the reason for having these defaults? I just spend some time figuring out why an icon didn't spin using tailwind's `animate-spin` class, and I realized this was the issue.

[2021-04-11 14:01] antfu commented on #13
@NoelDeMartin  It's removed in the latest version. Sorry for causing trouble.

[2021-04-30 11:13] autumnalriver opened #23 "It has unmet peer dependency "vue-template-compiler""
When run install script, the commandline shows as follow:
[code]

[2021-05-12 02:12] rimday commented on #10
use purge icons https://github.com/antfu/purge-icons

[2021-05-12 20:04] xorik opened #24 "Autoload libraries with dashes fails"
Hi!

I didn't find how to load icons like those:
[code]

If I write:
[code]
it fails...

I took those names [here](https://icones.js.org/collection/all). It works for libraries without dashes 🤔

[2021-05-13 05:28] antfu commented on #24
Can you provide more context?

[2021-05-13 16:29] xorik commented on #24
Sorry.

So I have a vue/vite app. I search for icons on the website https://icones.js.org/. Then I add prefix `i-` and replace comma to dash, so I get something like
[code]

Put it in template and it perfectly works.

But some icons e.g. `mdi-light:alarm` or `noto-v1:flag-for-flag-japan`  aren't work.
[code]

I think this is because the `noto-v1` contains a dash symbol, so parser gets confused.

S

[2021-05-13 20:36] antfu commented on #24
Ah, I see, it's indeed a bug. Could do that later, or if you would like to give a try, I am happy to see the PR. Thanks!

[2021-05-14 17:52] xorik commented on #24
@antfu I'd like to help, but I have no idea how to debug plugins like that. Any suggestions how to start?

[2021-05-14 18:02] antfu commented on #24
Actually, looks like all we need to do is to update the data source
https://github.com/antfu/vite-plugin-icons/blob/59a8ce431641ea211d654795fb1310771fe3dc18/src/resolver.ts#L36

I will do that now

[2021-05-14 18:18] #24 closed

[2021-05-14 18:26] xorik commented on #24
Thank you for the quick fix!

[2021-05-24 03:18] theoephraim opened #25 "TS issue - Ambient module declaration cannot specify relative module name"
Things are ok during development but I'm running into this issue when running `vue-tsc --noEmit` (as part of my build script).

I'm getting this issue:
[code]
It appears the TS compiler does not like declaring a module name starting with a "/"

Any ideas what's going on?

My tsconfig file:
[code]

[2021-05-26 22:20] theoephraim commented on #25
@antfu can you confirm if this issue is something unique to my setup or if you are seeing it as well?

I'm also curious why the declaration has that leading slash like that `'/@vite-icons/*'`?
Seems it has something to do with the resolver, but I'm unclear what's going on there exactly...

[2021-05-26 22:25] antfu commented on #25
The leading slash indicates they're virtual modules. It seems to work fine on my side. Not that familiar with how `.d.ts` resolves, maybe someone else could help.

[2021-05-27 23:01] theoephraim commented on #25
Can we just remove the extra declaration and expect users to use the `virtual:vite-icons/...` style instead?
I can't really find any other examples of plugins/libraries using a leading slash like this. I can only find examples where a leading slash is used in an alias, which TS knows how to handle.

I am curious though about why you're not seeing this error in your project or if there is something

[2021-05-27 23:47] antfu commented on #25
At the very beginning of this package we use the `'/@vite-icons/*'` style due to the limitation of Vite, so it's more like for backward compatibility. If the removal of that entry solves your problem, I am happy to receive a PR for it.

[2021-05-28 02:57] #25 closed

[2021-05-29 15:48] aofeng1227 opened #27 "除了这样修改style="font-size: 2em; color: red"还有其他方式么，小白请教"
style="font-size: 2em; color: red"
请问除了这种方式修改样式，还有其他方式吗

[2021-05-30 03:40] antfu commented on #27
如果用 Windi CSS 或者 Tailwind 的话可以使用 `class="text-2xl text-red-400"`

[2021-05-31 15:11] aofeng1227 opened #28 "<component :is="指定要展示的组件名称"></component>"
<component :is="指定要展示的组件名称"></component>这组件里如何使用icons插件啊

[2021-05-31 15:12] haoyun opened #29 "icon size and alignment"
If using Iconify directly, as described in https://docs.iconify.design/implementations/vue/, the size of icons is smaller and matches that of the text.

With `vite-plugin-icons`:

[code]

With `@iconify/vue@next`:

[code]

Moreover,  `@iconify/vue@next` has an [`InlineIcon`](https://docs.iconify.design/implementations/vue/inline.html) component, which fits better for inline icons/texts. Is there a

[2021-05-31 17:06] antfu commented on #29
By default, the icons in `vite-plugin-icons` are scaled x1.2 to match with text sizes visually, you can change it with the config:

https://github.com/antfu/vite-plugin-icons/blob/e2f0fdc1c75f2bec11642519d92ab1c7521cf3b7/src/types.ts#L7

`<icon-account-box style="display: inline-block"/>`

[2021-05-31 17:36] antfu commented on #28
[code]

[2021-05-31 17:36] #28 closed

[2021-06-01 15:16] aofeng1227 commented on #28
好的感谢

[2021-06-04 03:33] chojnicki commented on #23
Can You @antfu remove this peer dependency or it's necessary evil due to Vue2 support? For Vue 3 it's just false alarm

[2021-06-04 03:54] #23 closed

[2021-06-04 15:02] #29 closed

[2021-06-29 09:15] lujiajing1126 opened #32 "Unable to load icons with a number as the first char"
`<twemoji-1st-place-medal />`

[2021-07-03 03:17] #32 closed

[2021-07-06 09:41] cinob opened #33 "gg系列的图标无法导入"
首先感谢大佬为社区做出的贡献，许多项目我都用过，非常赞👍

遇到的问题：
在使用过程中发现 https://iconify.design/icon-sets/gg/ 里的图标都无法导入，控制台报导入了不存在的模块

[2021-07-06 14:21] antfu commented on #33
Do you have a reproduction? It seem to work on my side.

[2021-07-07 00:39] cinob commented on #33
(。・＿・。)ﾉI’m sorry~  是 @iconify/json的版本问题， 感谢回复

[2021-07-07 00:39] #33 closed

[2021-07-09 13:56] marshallswain opened #34 "Interference with components starting with "feather""
`<feathers-vuex-pagination />`, which comes from [Feathers-Vuex](https://vuex.feathersjs.com/) is not able to load due to a conflict with feather-icons.   With the latest release of `vite-plugins-icons` and `vite-plugin-components`, I am getting the following error message, which prevents app load:

![Screen Shot 2021-07-09 at 7 28 15 AM](https://user-images.githubusercontent.com/128857/125084892-

[2021-07-09 14:09] #34 closed

[2021-07-18 19:10] Codpoe opened #35 "any plans to support react?"
Does the plugin have plans to support react?

[2021-07-18 19:35] antfu commented on #35
Sorry no, feel free to make one your own.

[2021-07-18 19:35] #35 closed

[2021-07-21 14:45] CzBiX opened #36 "`defaultClass` option not working"
Tested in https://github.com/antfu/vitesse-lite.

[2021-07-25 20:10] armenr opened #37 "Correct usage with heroicons + dynamic component syntax"
Howdy! Still learning the ropes, and I promise I've read the documentation, so I promise I've spent a bit of time reading the documentation on both vite-plugin-icons + iconify...

Current setup - Using Vitesse boilerplate, no major changes to icons or components plugins configs:

[code]

In my Home Layout File `/src/layouts/home.vue`, I am working with a simple v-for loop. There is the following c

[2021-07-25 21:24] armenr commented on #37
Update:

Looks like this import strategy works:

[code]

So, my only question is: Is there a better/cleaner/automated/more concise way to do all of this importing and referencing?

[2021-07-25 22:31] antfu commented on #37
If the icon names are finite and already known at the build time, I think your approach is the way to go. Named support is not supported because the modules are served virtually and on-demanded, been able to have named import for icons would require the module to bundle all the icons in the collection, which I think it's not ideal. But if you really want it, I guess you can write an inline plugin

[2021-07-25 22:31] #37 closed

[2021-08-04 09:52] anbraten opened #38 "Can't find icons after vite start with .vue ending"
I tried to import my icons via the following two ways:
[code]
and

[code]

To get TS support I added `.vue` to my imports which worked fine while the vite-server was running, but after a restart of vite I get this error:

[code]

[2021-08-04 12:26] antfu commented on #38
Can you share a minimal reproduction? Thanks.

[2021-08-04 15:12] anbraten commented on #38
https://github.com/anbraten/repro-vite-icons

What I did:

[code]

The error:
[code]

It can start the server if I remove `.vue` at before starting the server and re-add it after the server is running. Seems like some path-resolution is cached after starting.

[2021-08-06 15:38] anbraten commented on #38
@antfu I changed the reproduction to use npm and latest stable vue3, but still no success.

[2021-08-20 07:04] oliverpool commented on #12
I really like this package, since it supports both vue 2 and 3 (maybe the compiler part could be integrated into https://github.com/vueuse/vueuse ;-).

After thinking about it, I would propose to add one configuration key `customCollections` (or some other name) of type `Record<string, IconCollection>`:
[code]
[code]

This `customCollection` would be checked before (or inside) the `getCollection(n

[2021-08-27 20:35] winter-ice opened #39 "[Feature Request] Icon collection alias"
有一些图标集的名字很长例如 `icon-park`

如果prefix定义为 `icon` 时，使用起来很难受

`<icon-icon-park-user />`

是否可以支持图标集别名或重命名？

[2021-08-30 08:03] antfu commented on #38
@anbraten Can you try with the latest `unplugin-icons`?

[2021-08-30 08:04] #27 closed

[2021-08-30 08:04] #10 closed

[2021-08-30 08:22] #36 closed

[2021-08-30 17:19] antfu commented on #38
Close for now. Feel free to reopen if it still persists.

[2021-08-30 17:19] #38 closed

[2021-08-30 17:22] antfu commented on #12
Could anyone offer me a small sample of custom icons (with the folder/file structure you would like) for me to experiment with the API design? It would be great if their license allow me to include them as examples in this repo in the future. Thanks!

[2021-08-30 17:22] antfu commented on #8
Let's continue the discussion in #12.

[2021-08-31 08:47] m5o commented on #12
💡 The [Popular category from Icons8](https://icons8.com/icons/set/popular) is free, for example.
They only want to include a link and the [License](https://icons8.com/license) seems open source friendly for all the other categories.
Icons8 key feature: they offer icons in many different styles, icon naming and meaning are consistent. Useful for theming applications, you just need to change the ico

[2021-09-01 19:09] robokozo opened #43 "Vue 3 - CLI Example"
Can you please provide an example project that is built using the vue cli with vue 3?

I tried using the vue 2 cli as a guide but I was unsuccessful because of

[code]

[2021-09-11 11:03] FabienMotte opened #46 "Next.js - You may need an additional loader"
Hi there! 👋
Thanks for the awesome work 👏

I'm trying to make it work with Next.js (Webpack) but I've an issue:
```You may need an additional loader to handle the result of these loaders.```
Do I need a Webpack loader to make it work?

Reproduction repo: https://github.com/FabienMotte/unplugin-icons-nextjs-issue

![image](https://user-images.githubusercontent.com/662153/132945755-dfbcaccd-8cbc-44a

[2021-09-11 11:06] antfu commented on #46
Can you share more context here?

[2021-09-11 11:08] FabienMotte commented on #46
Sorry, I accidentally pressed my "Enter" key, you're too fast! Haha

[2021-09-11 19:38] FabienMotte commented on #46
Seems like adding the `.jsx` extension to the end of the imported icon works, Webpack knows which loader to use for this file:
```import IconAccountBox from '~icons/mdi/account-box.jsx'```

[2021-09-11 20:22] #46 closed

[2021-09-11 20:23] antfu commented on #46
With v0.8.0 now you can set the extension by:

[code]

[2021-09-11 20:28] FabienMotte commented on #46
So cool! Thanks a lot for your time @antfu 🎉 🙏

[2021-09-11 23:41] userquin opened #48 "`jsx` compiler failing when icon name contains numbers"
There are icon names with numbers, not only letters, for example `MdiStore24Hour`.

The fix is simple, just replacing:
[code]

with
[code]

[code]

![imagen](https://user-images.githubusercontent.com/6311119/132966136-c1e28c0c-0768-4551-a7e1-e8f728a92249.png)

[2021-09-13 12:00] #48 closed

[2021-09-13 12:44] MagicMaxxx opened #50 "Vue 3 CLI and Auto Importing"
Hello!

How to setup vue.config.js in order to support Auto Importing feature? I can't use "import from..." there, so can't do it like this (taken from the https://github.com/antfu/unplugin-icons#auto-importing):
[code]
Seems like I need to use "require", but how can I specify resolver for the unplugin-vue-components plugin?

Thanks!

[2021-09-13 12:55] antfu commented on #50
[code]

Like this?

[2021-09-13 13:02] MagicMaxxx commented on #50
Yeah, I tried it first, but... Still have the question: "how can I specify **a resolver** for the unplugin-vue-components plugin?", in our case - for Components. Using your schema I can just create several objects, but how can I set it up so it uses the correct iconsResolver?

Thanks!

BTW - my bad, I had to write the correct import section, it would be like this (so - 'webpack' but not 'vite'):
[

[2021-09-13 14:08] fyeeme opened #51 "dynamic use icon"
how to use

[code]
switch to

[code]

thus , I can dynamic use icon
[code]

as some time  we need to show a batch of icon by some kind of logic,but now seem to not support, Maybe I miss something.

[2021-09-14 01:32] ngekoding commented on #5
Have you make it work with vite-plugin-purge-icons?

[2021-09-14 09:09] Akryum commented on #12
Here are some icons I made, you are free to use them however you want:

[code]

[code]

[2021-09-14 12:32] #12 closed

[2021-09-14 12:32] antfu commented on #12
Thank everyone, it's now landed as v0.11!
https://github.com/antfu/unplugin-icons#custom-icons

[2021-09-14 15:21] Akryum opened #52 "Clean symbols"
It would be nice to be able to automatically clean some attributes making CSS styling more difficult.

For example (we currently use [svgstore](https://www.npmjs.com/package/svgstore#options)):

[code]

Input:

[code]

Output:

[code]

[2021-09-14 15:35] Akryum opened #53 "Default class isn't merged"
Using Vue 2 compiler, setting a `class` on the icon component overrides the default class:

[code]

[code]

Result:

[code]

[2021-09-14 15:40] antfu commented on #53
Guess we should introduce a real parser then 😄

[2021-09-14 15:47] Akryum commented on #53
Not sure it's related to parsing

[2021-09-14 15:55] Akryum commented on #53
https://jsfiddle.net/Akryum/827j9xnu/

[2021-09-14 15:55] Akryum commented on #53
Notice the `staticClass` render option

[2021-09-14 15:56] Akryum commented on #53
I think it's because of the `v-pre` directive

[2021-09-14 15:57] Akryum commented on #53
I don't see a lot of difference with and without:

https://template-explorer.vuejs.org/#%3Csvg%20viewBox%3D%220%200%2024%2024%22%20class%3D%22base-icon%22%3E%0A%09%3Cpath%20d%3D%22M21.48%2011C20.7851%2010.621%203.47885%200.806646%203.47885%200.806646C2.81248%200.443169%202%200.925483%202%201.68454V8.65973C2%209.69991%202.79733%2010.5664%203.83391%2010.6528L13.5017%2011.4585C13.7834%2011.4819%2014%

[2021-09-14 16:00] Akryum commented on #53
Maybe this commit should probably reverted? https://github.com/antfu/unplugin-icons/commit/62866166a3c07a7612b584cd7c52e9f0bf26b91e

[2021-09-15 08:57] dominikg opened #55 "feat: generate svg sprite from used icons"
just something that popped into my head a minute ago

* collect all referenced icons into one svg sprite with ids for each (maybe one sprite per collection to avoid id clashes or prefixed-ids)
* instead of the real icon svg return a wrapper that references the id with `xlink:href`

would save some for icons that are used repeatedly

[2021-09-15 10:03] Akryum commented on #53
I confirm commenting the line that adds `v-pre` fixes the issue:

![image](https://user-images.githubusercontent.com/2798204/133413845-f6d1938b-31d8-4cf2-babb-bedc7e652f40.png)

[2021-09-15 10:07] Akryum commented on #55
I'm not sure it would actually save bytes, since you import the same component for each icon.

[2021-09-15 10:07] Akryum commented on #52
https://regex101.com/r/rniQWb/1

[2021-09-15 10:10] Akryum opened #57 "Custom icons HMR"
It doesn't seem that custom icons are being reloaded when changed. I need to fully restart vite for it to take changes into account.

[2021-09-15 10:28] Akryum commented on #52
This also works:

[code]

[2021-09-15 11:00] #53 closed

[2021-09-15 11:32] antfu commented on #52
Can you share more context about why we need this? I suppose some icons are designed to be used with colors (logos etc.). Is there any obstacle to remove them in the svg you provided or using a custom loader?

[2021-09-15 12:15] dominikg commented on #55
This is not only about transferred bytes but also about rendering on the client.
There is a tradeoff to be made between inlining the same svg multiple times or just having multiple references to the same item in a sprite. Also the svg sprite would be an asset, whereas generated components are weighing in on js bundle size.

This is not a slam dunk improvement for every situation, but it could be u

[2021-09-15 13:27] Akryum commented on #52
Well that's what we are doing to remove all the `fill="black"` coming from the design team for our custom icons. I guess it can be useful, but we will probably change each svg source code to use `currentColor` anyway :sweat_smile:

[2021-09-15 15:16] antfu commented on #52
We could probably accept a transform function for `FileSystemIconLoader` to do a custom clean up for on user side to be more general, what do you think?

[2021-09-15 15:19] Akryum commented on #52
Sounds good :+1:

[2021-09-15 16:40] kmilogp8496 opened #61 "Error loading custom Icons"
Hi, I'm having this error when trying to reproduce vite + vue3 example

[code]

OS => Windows 10
dependencies =>
[code]
icon folder =>
![image](https://user-images.githubusercontent.com/52615668/133474580-1157adcb-7168-41db-9405-42e5a010e246.png)
vite.config =>
[code]
import in component =>
[code]

Please, some help if I'm doing something wrong, I really like this tool
Thanks

[2021-09-15 18:23] kmilogp8496 commented on #61
It was an error in configuration with the icon source directory

[2021-09-15 18:23] #61 closed

[2021-09-15 21:25] #39 closed

[2021-09-16 08:02] oferitz opened #64 "Vite + React build fails"
<img width="1017" alt="Screen Shot 2021-09-16 at 10 56 45" src="https://user-images.githubusercontent.com/1668687/133573777-0b16043b-136b-4d52-9b29-f77dd05c534a.png">
<img width="649" alt="Screen Shot 2021-09-16 at 10 57 15" src="https://user-images.githubusercontent.com/1668687/133573782-8d27a6e3-6de4-46f4-ba8e-a7c329b3d064.png">

**vite.config.ts**
[code]

**tsconfig.json**
[code]

[2021-09-16 11:29] oliverpool commented on #12
Works perfectly, thank you so much!

[2021-09-16 13:00] IanVS commented on #51
It looks like this is not something that's planned for this library. See  https://github.com/antfu/unplugin-icons/issues/5

[2021-09-16 13:04] Akryum commented on #55
I know that with `<use xlink:href="...">` you can style the SVG with CSS. Not sure about `href` though.

[2021-09-16 13:39] userquin commented on #64
@oferitz can you test it adding it to `src/vite-env.d.ts` file?:
[code]
If previous works, PR welcome...

[2021-09-16 13:44] userquin commented on #64
on IntelliJ adding the type there works:

![imagen](https://user-images.githubusercontent.com/6311119/133623338-ebb033fd-bb4d-4292-9164-03b5360c37bd.png)

![imagen](https://user-images.githubusercontent.com/6311119/133623134-c290c433-ccc2-4505-9976-93569e0335cd.png)

[2021-09-16 13:56] oferitz commented on #64
@userquin added ```/// <reference types="unplugin-icons/types/react" />``` to `src/vite-env.d.ts` unfortunately it still fails on build time. In dev mode it's working fine (even without the above line).

[2021-09-16 13:59] userquin commented on #64
@oferitz so there are 2 problems, former for dev (solved), but now the build fails? Can you provide some system info via `npx envinfo --system --npmPackages vite,@vitejs/plugin-vue --binaries --browsers`?

On local it works:

[code]

[2021-09-16 14:01] userquin commented on #64
Sorry on the info I added vue plugin instead react...

[2021-09-16 14:02] IanVS opened #65 "[vite] Internal server error: Dynamic require of "@svgr/core" is not supported"
I'm trying to use this package with vite and react, and I've followed the readme but I'm getting the following error during build:

[code]

This seems to be triggered from https://github.com/antfu/unplugin-icons/blob/038cf0e5431ff0f4889f5f150b18e74f19ebdced/src/core/compilers/jsx.ts#L6

Relevant parts of my vite.config.js:

[code]

[2021-09-16 14:04] oferitz commented on #64
@userquin Just to be clear there was never a problem in dev mode. my original issue was regrading build time.
here is the info you asked:
[code]
also in your example above you are building with `pnpm` and i'm using `yarn`. don't know if it matters.

[2021-09-16 14:10] userquin commented on #64
Then it is not a problem with the build it is a problem on your repo layout, you should upgrage to add lerna and link vite-react project to use lerna, see the `package.json` file.

Maybe to do a test remove `"unplugin-icons": "workspace:*",` entry from the vite-react package.json file, then `yarn add unplugin-icons -D` then `yarn build`.

[2021-09-16 14:10] antfu commented on #65
Did you install `@svgr/core`? Can you share a minimal repro? Thanks

[2021-09-16 14:13] IanVS commented on #65
I'm trying to reproduce in the `vite-react` example right now, but having troubles running that too.  I'll open a separate issue for it, though.  Maybe I'm just doing something wrong.

[2021-09-16 14:16] IanVS opened #66 "[vite-react] Runtime error in vite-react example"
I'm trying to run the vite-react example from the examples folder, but am getting a runtime error.  Here's what I did:

[code]

The build completes, but when I open the browser I get this error in the console:

[code]

[2021-09-16 14:21] IanVS commented on #66
Adding `jsx: 'react',` to the options fixes this issue.  I'll submit a PR for it.

[2021-09-16 14:22] oferitz commented on #64
@userquin Not sure i'm following. In my project `package.json` there isn't any `"unplugin-icons": "workspace:*"` entry.
also why do I need to add `lerna` in order to use `unplugin-icons` in my project?

[2021-09-16 14:24] userquin commented on #64
so the exmaple is not working on your project, not in a clone: take a look at this entry: just add `jsx: 'react'` to the plugin (https://github.com/antfu/unplugin-icons/pull/67/files)

[2021-09-16 14:26] oferitz commented on #64
@userquin It's already defined like that :) take a look at my first post above, I wrote all the details of how my project is defined

[2021-09-16 14:29] userquin commented on #64
with the fix on the PR I have it working (without it the react example fails with your error):

![imagen](https://user-images.githubusercontent.com/6311119/133630491-bfc2d381-2d22-4f2e-9833-7a80f8756190.png)

[2021-09-16 14:30] oferitz commented on #64
@userquin yeah it's working on dev mode for me also. but did you try to build it? with `tsc && vite build`

[2021-09-16 14:32] userquin commented on #64
@oferitz we don't use `tsc`, my `build` output:
[code]

[2021-09-16 14:33] userquin commented on #64
just see `examples/vite-react/package.json` on this repo

[2021-09-16 14:41] oferitz commented on #64
@userquin Thanks, finally we understand each other :) so just that you know running with `tsc` will fail and that's what my issue is all about, Maybe it worth taking a look on why.
Thank you so much for the quick response and the time you took trying to help 🙏

[2021-09-16 14:49] userquin commented on #64
@oferitz if you're using vite just try `vite build`, should work.

[2021-09-16 15:17] IanVS opened #68 "[jsx] scale option is not respected"
The JSXCompiler runs the svg through svgr, with the `icon: true` option.  This option sets width and height to `1em`, which overrides the values provided from the `scale` option.  I think that option can be removed, since this plugin already sets width and height based on the scale.

[2021-09-16 15:37] IanVS commented on #65
This can be triggered by adding `"type": "module"` to the example's package.json file.

[2021-09-16 16:37] #64 closed

[2021-09-17 03:28] #66 closed

[2021-09-17 07:11] ankitkataria commented on #68
W

[2021-09-24 10:54] kmohrf opened #69 "Support a default collection for auto-import"
Hi,

I was looking for something like a `defaultCollection` option for the `IconsResolver` but that doesn’t seem to exist yet. I usually try to stick to one icon collection in any single project, simply because the general art style is consistent and only use icons from other collections as kind-of last resort (though unplugin-icons definitively makes this much easier, thank you!).

Right now I’ve

[2021-09-24 11:05] userquin commented on #69
Maybe you can use aliases in combination with enable only your collection:
- [aliases](https://github.com/antfu/unplugin-icons#collection-aliases)
- [enable collections](https://github.com/antfu/unplugin-icons#name-conversion), see:
[code]

[2021-09-24 11:24] userquin commented on #69
@kmohrf just use this:
[code]
then

[code]

[2021-09-24 16:29] kmohrf commented on #69
Yeah I thought about that too and it probably works, but has very weird semantics because then I have `<icon-plus/>` and `<mdi-something/>` which would confuse others working on the same project. Apart from that I don’t want to restrict the enabled collections I just want one of them to be the default.

I don’t think this is a must have. I currently have aliased `system-uicons` to `sui` which is p

[2021-09-25 03:40] antfu commented on #69
PR welcome if you really need that.

[2021-09-25 03:44] #68 closed

[2021-09-25 03:45] antfu commented on #65
Hopefully fixed in v0.11.4

[2021-09-25 03:45] #65 closed

[2021-09-25 05:59] antfu opened #70 "Support Iconify collection packages"
https://github.com/iconify/collections-json/issues/15#issuecomment-927016182

[2021-09-25 09:53] userquin commented on #70
We need to wait `@iconify/utils` with ES/CJS support to be published: will replace `@iconify/json-tools` and deprecates `@iconify/json`.

Once published, I can make the PR.

[2021-09-28 06:15] priyamroy opened #72 "[Question]: How to use icons from string?"
When using the icons with strings it's not working in `component`. How to get it working, please? Sample code -
[code]

[2021-09-28 14:55] kafai97 opened #73 "incorrect typing for svelte elements"
## Problem Description
Following the installation guide for sveltekit, it works fine on runtime but vscode typescript checking will keep raising error `JSX element type does not have any construct or call signatures`.

Screenshot attached as below.
<img width="1200" alt="Screenshot 2021-09-28 at 10 37 31 PM" src="https://user-images.githubusercontent.com/41912520/135109030-ad549f91-f0cf-4503-bd04-

[2021-09-28 15:39] userquin commented on #73
can you take a look at this https://github.com/antfu/unplugin-icons/blob/main/types/svelte.d.ts?

so your suggestion is adding `.svelte` suffix to both modules?

[2021-09-28 16:17] userquin commented on #73
uhmm looks good, PR welcome (on `intellij/webstorm` changes looks better /cc @bluwy /cc @dominikg):

![imagen](https://user-images.githubusercontent.com/6311119/135125404-48b5934d-c5c5-4c9c-bbb9-66364190443a.png)

while with current version:

![imagen](https://user-images.githubusercontent.com/6311119/135125459-c1848caf-134e-4055-83eb-3e1262aeea33.png)

[2021-09-28 16:22] bluwy commented on #73
@kafai97's suggestion looks good. Matches [svelte's](https://github.com/sveltejs/svelte/blob/dafbdc286eef3de2243088a9a826e6899e20465c/src/runtime/ambient.ts) as well. I'm wondering it if's one of those `typeof SvelteComponentDev` trick, but still, following Svelte's official ambient types would be more robust.

[2021-09-29 11:59] gurupras commented on #15
Ah! For anyone else stuck on this, the crucial piece to this puzzle is the line: `include: [/\.vue$/, /\.vue\?vue/, /\.md$/],`.
With that, the resolver properly handles markdown files.

[2021-09-29 12:33] userquin commented on #15
@gurupras it is about `unplugin-auto-import`?

https://github.com/antfu/unplugin-auto-import/issues/46

[2021-09-29 20:47] #73 closed

[2021-10-01 22:12] #70 closed

[2021-10-01 23:35] #8 closed

[2021-10-01 23:38] antfu commented on #72
#5

As a workaround:

[code]

[2021-10-01 23:38] #72 closed

[2021-10-02 02:14] peter50216 opened #75 "iconSource: 'auto' doesn't properly fallback to 'legacy' mode (0.12.6)"
As title, when I tried to upgrade unplugin-icons to 0.12.6 (from 0.11.4), I got `"@iconify-json/xxx" package not found` error when running `vite build`.

Manually changing the vite.config.js to use `Icons({iconSource: 'legacy'})` works, so it looks like the default `iconSource: 'auto'` doesn't properly fallback to 'legacy' mode.

[2021-10-02 02:43] #75 closed

[2021-10-02 04:31] priyamroy commented on #72
That worked, Thank you :)

[2021-10-02 18:27] ksnyde opened #77 "importing icons works but vs-code doesn't recognize import path"
I am using _auto_-importing icons in VueJS templates without issue and in fact I can also import icons explicitly in TS like so:

[code]

And while this code works, the `~icons` prefix seems to not be understood by **vs-code** and I get an ugly rash of curly underlines:

![image](https://user-images.githubusercontent.com/980757/135727858-f3a06b02-7b7a-41d5-8f54-c821120be3bb.png)

[2021-10-02 18:40] userquin commented on #77
@ksnyde see https://github.com/antfu/unplugin-icons#frameworks

[2021-10-02 19:53] ksnyde commented on #77
Oh shoot; you're right I missed that. Now I do indeed avoid the _red squiggles_ but now I get a run-time error:

![image](https://user-images.githubusercontent.com/980757/135730167-065439ab-fe00-44d2-bceb-2765d8a5989b.png)

[2021-10-02 19:54] ksnyde commented on #77
Note: this is just a mildly modified template of the **vitesse** starter kit

[2021-10-02 19:56] ksnyde commented on #77
Is there any additional configuration if you're doing the imports in a `.ts` file instead of a `.vue` file?

[2021-10-02 20:07] #77 closed

[2021-10-03 13:47] mihai-ursu opened #78 "The React types seem to be wrong."
The React types seem to be wrong.
I'm using Vite as a builder (not sure if that is relevant) but without my change, it throws an error on build for types checking.

Here is a screenshot:
![react-types-wrong](https://user-images.githubusercontent.com/59970356/135756195-1d6df8ca-7643-4dfe-a873-23455b1fc29a.jpg)

I fixed it on my end with this code (I'm not a Typescript expert so not sure if this is

[2021-10-04 13:18] #78 closed

[2021-10-04 18:38] PuruVJ opened #80 "cyan not found in chalk, Vite-Svelte and pnpm"
Hi, so I added unplugin to a repo, and it broke everything for some reason. The error is this

![image](https://user-images.githubusercontent.com/47742487/135905807-0c17912e-3ed8-4864-b335-c73656144770.png)

I installed chalk to mitigate this issue, but it wouldn't go away, and hence, I can't turn on the dev server

Here's the repo https://github.com/PuruVJ/ms-todo-svelte

Thanks
Puru

[2021-10-04 19:13] userquin commented on #80
`chalk` doesn't provide  `esm`, so we need to change its usage.

[2021-10-04 19:16] PuruVJ commented on #80
Or maybe this? Seems compatible with chalk https://www.npmjs.com/package/nanocolors

[2021-10-04 19:18] userquin commented on #80
uhmm, maybe it will better to change the dependency, good catch man

[2021-10-04 19:24] PuruVJ commented on #80
Yeah, would also save us some kbs, and seems imple considering it's used only once in the codebase

[2021-10-04 19:31] userquin commented on #80
updated

[2021-10-04 19:34] PuruVJ commented on #80
Superb!!

[2021-10-05 00:13] #80 closed

[2021-10-05 12:18] userquin opened #82 "use `picocolors` instead `nanocolors`"
**REMINDER**

@antfu Talking with patak seems `nanocolors` will be closed in favor of `picocolors`: https://twitter.com/sitnikcode/status/1445344583005704197?s=20

`picocolors` seems also be fast and using less space on disk.

I need to do some tests later and I'll provide a new PR using this new package: seems also `chalk` will add `esm` support if we want back to `chalk` in a future.

[2021-10-05 17:07] userquin commented on #80
@PuruVJ

With `autoInstall` works with your fork with `0.12.9`. We're changing to use `picocolors` instead `nanocolors`, it seems it will be closed in favor of `picocolors` (no esm support yet).

I'm checking on local with `picocolors` on your repo.

![imagen](https://user-images.githubusercontent.com/6311119/136069498-47b09f4d-3268-4c07-b56a-6912e2dddb38.png)

[2021-10-05 17:59] PuruVJ commented on #80
Wait, so yur saying autoInstall is not working due to nanocolors? 🤯

[2021-10-05 18:08] userquin commented on #80
No, `autoInstall`  works like a charm man, I'll change to use `picococlores` since `nanocolors` has been deleted/deprecated, see PR #83 comments

[2021-10-05 18:11] userquin commented on #80
The  `autoInstall` is an experimental thing to allow use the icons without the package installed, then `unplugin-icons` will install for you on dev, see the logs on console.

The `[listID].svelte` file looks like this:

![imagen](https://user-images.githubusercontent.com/6311119/136079118-e9054fa5-06ed-4659-88cb-91461ae08b62.png)

[2021-10-05 18:12] userquin commented on #80
Upps, the PR has no comments, you can see on the `nanocolors` repo or in #82 issue

[2021-10-05 18:15] userquin commented on #80
![imagen](https://user-images.githubusercontent.com/6311119/136079663-d098495b-26a4-4dc0-989d-0e3f5ff1e9c4.png)

[2021-10-05 18:59] PuruVJ commented on #80
We've already bikeshedded this quite a bit, but would you consider using kolorist for this task @antfu ?

It's small, deps free, fully ESM, and most importantly, by the preact guy @marvinhagemeister, so it's reliable as an army tank.

Here's all the code it has https://github.com/marvinhagemeister/kolorist/blob/main/src/index.ts

Would love to make a PR

[2021-10-05 19:01] PuruVJ commented on #82
We've already bikeshedded this quite a bit, but would you consider using kolorist for this task @antfu ?

It's small, deps free, fully ESM, and most importantly, by the preact guy @marvinhagemeister, so it's reliable as an army tank.

Here's all the code it has https://github.com/marvinhagemeister/kolorist/blob/main/src/index.ts

Would love to make a PR

[2021-10-06 15:36] valgeirb opened #85 "Vue CLI build fails (Vue CLI, Vue v2.x)"
First, thank you for your excellent work.

I'm having trouble building a Vue CLI project using Vue v2.x as I'm getting an error

[code]

when running `npm run build`.

[Here's](https://github.com/valgeirb/test-unplugin-icons) a reproduction repo which should have this error when building.

Am I doing something glaringly wrong here?

[2021-10-07 05:38] #85 closed

[2021-10-07 16:27] julie777 opened #86 "please add support for quasar framework"
Quasar is built on Vue 3 but it has its own way of configuring webpack, its own plugin system, etc.
All the variants of unplugin would be a great addition, but I don't have the knowledge to do the integration.

[2021-10-08 07:00] jceb commented on #12
Actually, the above mentioned approach has one big disadvantage: the fontawesome icons don't come with the SVG attribute `fill="currentColor"` so the color can't be changed.

In order to make it work one has to build the icons first with a build script that's described here: https://github.com/iconify/iconify/issues/4#issuecomment-488833665

However, the compiled json files can be loaded directly

[2021-10-08 07:21] jceb opened #87 "Add support for @iconify/json icon sets in customCollections"
As mentioned [here](https://github.com/antfu/unplugin-icons/issues/12#issuecomment-938395379), @iconfiy/json style icon sets are currently not supported by the `customCollections` attribute of unplugin-icons. Support for this feature would be very helpful to integrate commercial icons like Font Awesome Pro.

As an alternative to supporting json style icon sets a the loader function could be extend

[2021-10-08 08:16] antfu commented on #87
I am not sure if what `./json/fab.json` in your code snippet really is. But if it's compatible with Iconify's json data, I think we could export the icon resolver and maybe add an `IconifyLoader` to be reused for custom sources.

Meanwhile, I see your use FileSystemLoader in your first approach, https://github.com/antfu/unplugin-icons/issues/12#issuecomment-937631130, if that's preferable, we coul

[2021-10-09 11:45] husayt opened #88 "generate static css icon"
Sometimes especially when working with non vue components one needs to have icons defined at css level e.g.
[code]

[2021-10-09 14:51] dephiros opened #89 "__vite_ssr_import_0__.template is not a function when using vite-plugin-ssr and solid"
## Repro:
- Check out https://github.com/brillout/vite-plugin-ssr/tree/master/examples/solid
- Install vite-plugin-ssr according to instruction and try adding an icon to the index page
- `npm run dev`

[code]
@jfgodoy , do you know what could cause this?

[2021-10-09 17:41] userquin commented on #88
I'll take a look

[2021-10-10 18:01] jfgodoy commented on #89
hi @dephiros,
the current implementation doesn't support ssr.
The good news is that I think I figured out how to achieve it.
I will send a PR soon

[2021-10-10 19:50] husayt commented on #88
@userquin excellent stuff. Thanks

[2021-10-11 07:35] Akryum opened #92 "Storybook: auto-import support"
Is it possible to use it with storybook?

Example story:

[code]

[2021-10-11 13:21] dephiros opened #93 "Add support for markojs"
Add support for markojs

I want to use this plugin with markojs but not sure how to contribute. @DylanPiercey or @ryansolid, would one you be able to point to the right direction?

[2021-10-12 02:01] IanVS commented on #65
Unfortunately this does not seem fixed for me, using the latest 0.12.13.  I believe it is because of the compiled code:

[code]

Maybe it works in the example now because it is using the `src` directly, and not the compiled build?

[2021-10-12 10:19] Akryum opened #94 "Webpack 5 build errors with persistent/disk cache"
Reproduction link: https://github.com/Akryum/unplugin-icons-issue-94

1. Build a webpack 5 project with persistent caching -> Success
~2. Modify any file in the source code~
2. Build again -> Success
3. Build again -> Error

The build crashes with errors - examples:

[code]

[2021-10-12 12:28] Akryum commented on #94
Seems like it's a problem with unplugin itself:
https://github.com/Akryum/unplugin-icons-issue-94/tree/unplugin

[2021-10-12 14:20] valgeirb opened #95 "Vue CLI build fails on Windows"
Some of my co-workers are running Windows on their dev machines, when they run:

[code]

they get this error:

[code]

I have a [reproduction repo](https://github.com/valgeirb/test-unplugin-icons) where this is happening, could this be a problem with this package or is this a Windows problem?

My first guess was that this was an alias problem related to Windows, now I'm not so sure.

[2021-10-12 21:11] IanVS opened #96 "svgr is not a function"
Thanks very much for fixing #65.

I'm now seeing `svgr is not a function`, and find that I need to change the compiled code from:

[code]

to

[code]

and then my app and tests work as expected.

[2021-10-13 01:52] LingHanChuJian opened #98 "An error occurred when using webpack to build unplugin-icons"
unplugin-icons  use resolveId and load to implement the plugin logic:
[code]
When I used this plugin in webpack, it reported an error.
[code]
I tried to track down the bug and found that the resolved value was incorrect, which caused plugin.__vfsModules!.has(id) to return false and failed to trigger the function load.
[code]
When I changed to resolved = path.join(plugin.__virtualModulePrefix, requ

[2021-10-15 07:13] jceb commented on #89
Apparently the right solution (https://github.com/facebook/react/issues/1545) is to escape `{` as `{'{'}` (https://github.com/sveltejs/svelte/issues/1318).

[2021-10-15 07:38] jceb opened #100 "Solid compiler fails to handle SVGs with style tags, i.e. {} present"
Since change #89 I get the following error message for duotone FontAwesome icons (integration see here: https://github.com/antfu/unplugin-icons/issues/12#issuecomment-938395379). Non-duotone icons work fine:

[code]

This, i.e. the content of the `<style>` tag, breaks it: `secondary{opacity:.4}` as solid tries to interpret it.

Apparently the right solution (facebook/react#1545) is to escape { as

[2021-10-15 20:51] userquin commented on #93
@DylanPiercey I add your code and also add `.marko` extension to resolve marko component: https://markojs.com/docs/class-components/#single-file-components

@dephiros can you test using it using this branch? https://github.com/antfu/unplugin-icons/tree/feat/add-marko-compiler

[2021-10-16 03:49] #93 closed

[2021-10-16 10:23] userquin commented on #93
@DylanPiercey I think the plugin should return `.js` as extension, then on the compiler template render the code you provide to escape the svg html tag.
It seems if adding `.marko` extension, marko vite plugin will try to resolve the component from the component directory and so it fails.

I only test it using vite. I have found multiple errors using  marko vite example on Windows with node 15.

[2021-10-16 15:28] imlautaro commented on #95
This worked for me:

1. Create a declaration file:
[code]

2. Add it in your `tsconfig.json` file:
[code]

[2021-10-19 22:24] MatteoGauthier opened #103 "How to use with Next.js ?"

[2021-10-23 11:25] cuiqg opened #104 "怎么自动引入element-plus/icon 在使用VUE-CLI 和 element-plus 的情况下"
element-plus ui 已经成功使用 `vue.config.js`:
[code]
引入 `@element-plus/icons` 像这样`vue.config.js`,没有成功:
[code]

`package.json` 是这样的:
[code]
我应该怎么做? 谢谢! 3>

[2021-10-25 13:52] reinoldus opened #105 "Auto importing for nuxt"
First of all: great work! Seems to take the pain out of icon deployment!

In the corresponding blog post auto-importing for nuxt was marked as WIP. Is that still the case? I am trying to figure out how to get custom icons + nuxt auto import to work but can't really figure it out

[2021-10-25 14:01] #105 closed, assigned to nobody

[2021-11-01 07:27] RyanYANG52 opened #106 "svelte compiler add extra '>'"
Awesome lib! one small thing I notice:
In `SvelteCompiler`
[code]
start with `openTagEnd` will include extra '>', should be
[code]

![image](https://user-images.githubusercontent.com/5292688/139636394-520a2d99-585d-44c4-b0ee-84c2bf013016.png)

[2021-11-01 18:09] antfu commented on #106
Nice spotting, mind creating a PR? Thanks

[2021-11-03 13:59] DennisMaass opened #108 "Usage in a jest test"
Hello all :)

Is there a way to use this really cool library in a Jest test?

I currently have the problem in my Nuxt2/Vue2 project that due to the non-existing path my jest test are broken.

Is it necessary to give jest a resolver somehow?
Do I need to install the plugin in the test?
Can I stub the components, I don't think so or?

![Bildschirmfoto 2021-11-03 um 14 50 58](https://user-images.gith

[2021-11-03 17:10] #106 closed

[2021-11-03 17:28] antfu commented on #108
Sadly jest does not play well with Vite, ESM, Custom transformations - I would suggest using Cypress to do the test until it catches up.

[2021-11-03 17:35] DennisMaass commented on #108
Thanks for replying so quickly :)

One more question:
Did you mean that vite as a whole can not do well with jest?
Or that vite is not good with exactly this case, the necessary custom transformation?

And one more thing, I'm not using "vite", I'm using a vue2/Nuxt2 application without vite or the new nuxt3-bridge etc.
Is this a fundamental error?
Did I just completely accidentally read over that

[2021-11-03 17:38] DennisMaass commented on #108
Oh I think I got it...

It used to be a pure vite plugin and then you renamed it from "vite-plugin-icons" to "unplugin-icons" since it supports svelte, react etc too.

But vite is still mandatory ?!?

[2021-11-03 17:41] antfu commented on #108
Sadly it is. You can still do some unit testing for pure js functions for sure, but when it comes to features relying on Vite plugins or integrations, it won't be an easy task. This is mostly because jest does not support async transformations.

No, this is not related to Vite. Because this plugin build on top of the idea of virtual modules, which I don't think jest has an API for that. I guess yo

[2021-11-03 17:49] DennisMaass commented on #108
I think jest if not executing webpack at all...
Jest tries to import the '~icons/...' path, but there is nothing.

But thank you very much @antfu for trying to help me!

I think I have to remove unfortunately the library because unit-testing our components is mandatory for us :(
And I don't want to use such a cannon as Cypress when it comes to testing Vue components. And unfortunately unit tests a

[2021-11-03 17:52] DennisMaass commented on #108
Maybe that helps me:

[code]

I keep you up to date

[2021-11-03 17:53] antfu commented on #108
You could try out this solution https://antfu.me/posts/icons-in-pure-css which is in pure css and does not affect how you use it.

Oh I almost forgot it's Vite only... probably wait a while until we come up with the webpack one.

[2021-11-03 17:56] DennisMaass commented on #108
Cool article :) I have already read a few days ago.

Yes, I will use this one maybe until I switched to vite or you provide a setup for webpack.
In the meantime I try to use the "jest virtual mock" way i described in the comment above.

[2021-11-03 18:13] DennisMaass commented on #108
@antfu my idea of mocking the module itself is working

[code]

To be honest, it's still a bit disturbing that I have to mock each icon individually but maybe there is a way to lure whole paths. I'll post it here if I find something....

[2021-11-04 04:37] RyanYANG52 opened #109 "Icon Component overhead"
I will try explain using Svelte as an example, but it should be the same.

Currently import an an icon, unplugin-icons will generate an component on the fly, like this

[code]
 to this IconComponent.svelte
[code]
when bundling, it will compile to this for every component

[code]
this is what I use for my projects to minify overhead and without losing reactivity (not 100% sure I'm right though)

A

[2021-11-04 04:37] RyanYANG52 commented on #106
just saw it, next time😀

[2021-11-04 05:11] RyanYANG52 commented on #109
on second thought, this may only apply to svelte, solidjs, marko, compile language, not familiar with the others.

[2021-11-05 02:05] Mr-xzq opened #110 "auto import icon，Icon `xxx` not found"
### Current setting
![image](https://user-images.githubusercontent.com/53166933/140445112-ba649e69-48a4-4da9-ab24-29309cd4fe15.png)
![image](https://user-images.githubusercontent.com/53166933/140445191-924270b5-ae7a-4db6-8dc5-bc16f8bee46b.png)

### Error result
![image](https://user-images.githubusercontent.com/53166933/140445329-6becd832-8eca-4d73-8f33-4a997e1c91b5.png)
![image](https://user-imag

[2021-11-05 02:15] Mr-xzq commented on #110
Sorry, it’s because I forgot to install icons data.  e.g: `npm i -D @iconify/json`,
[How to install icons data, please refer to this link](https://github.com/antfu/unplugin-icons#icons-data)

[2021-11-05 02:15] #110 closed

[2021-11-05 14:19] dominikg commented on #109
This is very svelte specific and requires a custom svelte icon compiler.

You have to import the `<Icon>` component you mentioned avove from an alias or virtual id (relative paths would not work)
You need to extraxt the attributes and content separately from the `<svg>` source to be able to bind them into the imported `Icon`.

Rather than providing that in unplugin-icons itself, i think a generic

[2021-11-05 14:33] dominikg opened #111 "feat: custom icon compiler"
As described in https://github.com/antfu/unplugin-icons/issues/109  there are situations where Application built in compiler based frameworks want to utilize custom icon components.

Thess custom compilers could be provided inline in the plugin config or via 3rd party packages.
To enable using them the `compiler: string` option could be changed to allow  passing a compiler function directly.

eg

[2021-11-05 15:13] ctwhome opened #112 "not working with vercel deploy?"
I am using https://github.com/nuxt/vercel-builder
and this is what I get in the logs

![image](https://user-images.githubusercontent.com/4195550/140533696-17a5aa62-8eb1-439b-8891-478ec2623948.png)

[code]

[2021-11-05 15:14] RyanYANG52 commented on #109
Yes, I agree, custom compiler is the better approach.
Another small thing, to allow fully customize, right now scale option (width, height attr) can not be omitted(has to delete by custom compiler), and will always use `em` unit, I don't know if that is by design, I know it can be override by class or style, just think maybe it can be more flexible.

[2021-11-05 15:47] userquin commented on #111
I'll take a look when I have time...

[2021-11-05 16:35] LingHanChuJian commented on #98
Update unplugin dependencies  [#33](https://github.com/unjs/unplugin/issues/33)

[2021-11-11 15:30] leon0399 opened #114 "Nuxt 3 module"
How to provide components: https://v3.nuxtjs.org/docs/directory-structure/components#library-authors

Examples:
- https://github.com/windicss/nuxt-windicss/tree/main/packages/nuxt-windicss
- https://github.com/posva/pinia/tree/v2/packages/nuxt

[2021-11-13 08:49] cn1001wang commented on #72
why I got a Icon component like ChartBar ,how to use in template?
`<component :is="item.icon.name"></component>` is not work

[2021-11-16 03:07] JSerFeng opened #115 "vite import-analysis can't parse the source"
sorry I searched issues, but didn't find any like this one, if there is an exist issue about this I missed, please tell me.

when I import icon using vite and react like this
[code]

vite throw an error saying that
[code]
here is my plugin
[code]

[2021-11-16 19:52] Knogobert commented on #103
Getting the same issue with `unplugin-icons@0.12.18` unfortunately. Almost identical context as @iamyuu webpack config. Bumping for visibility.

[2021-11-17 06:55] imbacc opened #116 "老哥包名想好哟"

[2021-11-17 07:06] #116 closed

[2021-11-17 11:48] JSerFeng commented on #115
So sorry that I didn't check doc very carefully, I should add compiler: react. sorry

[2021-11-17 11:48] #115 closed

[2021-11-17 18:55] avalanche1 opened #117 "Parcel 2 integration"
Is it possible to use `unplugin-icons` with Parcel's build chain?

[2021-11-18 02:45] joel-wenzel commented on #114
Unplugin as shown in the documentation for vue3 still works with nuxt 3.

[code]

[2021-11-18 12:07] antfu commented on #114
#63

[2021-11-18 12:07] #114 closed

[2021-11-18 12:08] antfu commented on #117
PR welcome. (Would be great to even support it directly in https://github.com/unjs/unplugin)

[2021-11-19 07:47] productdevbook opened #118 "How to used nuxt 3 with auto import ?"

[2021-11-19 08:05] antfu commented on #118
#63 - I'd suggest using UnoCSS on Nuxt 3.

[2021-11-19 08:05] #118 closed

[2021-11-19 08:10] productdevbook commented on #118
There are tailwindcss and @apply codes in the project. I guess we can't switch to UnoCSS.

[2021-11-19 08:24] productdevbook commented on #118
2. questions

[code]
`<red-mdi-book />` [Vue warn]: Failed to resolve component: red-mdi-book

[2021-11-19 08:47] antfu commented on #118
I can have UnoCSS work with Tailwind or other preprocessors by just enabling the icons preset

[2021-11-19 08:48] antfu commented on #118
Auto import for Nuxt is ready - that's what #63 is for

[2021-11-23 09:01] lucien-efx commented on #10
Hi @antfu, since purge-icons is no longer maintained, as per your comment on purge-icons [issue #24](https://github.com/antfu/purge-icons/issues/24#issuecomment-956451403), is it possible to merge some of purge-icons features into unplugin-icons?

[2021-11-23 09:12] zynth17 opened #119 "error cannot find type definition file with typescript 4.5"
![image](https://user-images.githubusercontent.com/45350572/142997233-f6c80c5d-764c-4ec9-b338-7f66f514fe16.png)

another related issue [vite-plugin-pages](https://github.com/hannoeru/vite-plugin-pages/issues/118)

[2021-11-23 11:31] userquin commented on #119
see https://github.com/antfu/unplugin-icons#frameworks, expand `Vue3`:
[code]

[2021-11-23 12:02] zynth17 commented on #119
yes already did that and still got the error. like i said its okay with typescript v4.4.x and will only occur on typescript 4.5.x

[2021-11-23 18:26] mythz commented on #119
Same issue for me, typescript 4.5.2 failed with build errors  Cannot find module '~icons/...' or its corresponding type declarations.

Had to revert to typescript 4.4.4 to resolve the issue

[2021-11-23 18:28] userquin commented on #119
ok, I'll take a look later...

[2021-11-23 19:15] userquin commented on #119
@zynth17 @mythz I'll craete a project from `vitesse` template and update `ts` dep to check this, stay turned, later I'll update the docs

[2021-11-23 20:35] userquin commented on #119
There is something wrong on the types, we need to review them.

@antfu see this, it seems we need to update the `package.json`, something  has changed (also applies to `vite-plugin-pages/client`):
[code]

Clone the repo here https://github.com/userquin/vitesse-with-ts-4.5 and run `pnpm install && tsc --traceResolution > ts-traceres.txt`, you will get this error (see it at hte bottom of the txt fil

[2021-11-23 20:48] josh-hemphill opened #120 "[Bug Report] broken in ESM project - Dynamic require of "@vue/compiler-sfc" is not supported"
In a project with `"type":"module"` set:
[code]

[code]

[2021-11-23 21:20] userquin commented on #120
@josh-hemphill can you provide a repro?

[2021-11-23 21:33] josh-hemphill commented on #120
It should be re-creatable with the default vitesse vue-3 starter template by just setting the type.

[2021-11-23 21:44] userquin commented on #120
@josh-hemphill error recreated in this repo on vue3 example and fixed, creating PR...

[2021-11-23 21:45] josh-hemphill commented on #120
Awesome, thanks!

[2021-11-24 09:15] #120 closed

[2021-11-24 09:21] #109 closed

[2021-11-24 09:21] #111 closed

[2021-11-24 15:03] peter50216 commented on #119
This might be similar issue to https://github.com/hannoeru/vite-plugin-pages/issues/118

[2021-11-24 15:20] userquin commented on #119
uhmmm, I'll take a look later

[2021-11-24 23:11] jojobyte opened #123 "Failed to resolve import for various icons like "~icons/ph/cursor-fill""
slidev server (`npm run dev` in a slidev project) just started spitting this out, found that setting `"unplugin-icons": "0.12.18",` to that fixes the problem, so looks like theres an issue with `0.12.19`

[code]

[2021-11-25 00:09] galvez commented on #123
Reverting to previous release did the trick for me.

[2021-11-25 01:47] #123 closed

[2021-11-30 14:44] #52 closed

[2021-11-30 14:44] #87 closed

[2021-12-01 17:04] userquin commented on #88
@husayt closing this since it has been included on unocss, if you want still this behavior open a new one issue.

[2021-12-02 02:08] Xwudao commented on #96
@antfu maybe need change it back?

when install `"@svgr/core": "^6.1.0",` it also occur error: `svgr is not a function`

But, when I reinstall `"@svgr/core": "^5.1.0",`, it's ok!

[2021-12-02 02:41] IanVS commented on #96
@Xwudao it's probably best if you could open a new issue with some details about what you're seeing.  I think this is due to a change in svgr, which now uses named exports instead of a default export.

[2021-12-02 02:46] Xwudao commented on #96
yeah! That's what I mean.

I install latest version both of  `unplugin-icons`  and `@svgr/core(6.1.0)`, an error occurred.

I found this issue, and I try to install "@svgr/core": "^5.1.0", it's working.

[2021-12-07 08:28] dima-f1 commented on #119
Any updates on this? Have the same error but with **unplugin-icons/types/react**
[code]

[2021-12-07 14:34] ArgekarStudios opened #128 "Cannot find module '~icons/heroicons-outline/cursor-click' or its corresponding type declarations. (typescript)"

[2021-12-08 20:26] replygirl commented on #119
suh dudes. go to `<your node_modules store>/unplugin-icons/package.json` and add something like this on line 41:

[code]

see #129

[2021-12-08 20:29] #119 closed

[2021-12-08 20:38] replygirl commented on #128
@ArgekarStudios duplicate of #119 - fixed in 0.12.23

[2021-12-09 07:37] sunnng opened #131 "How to use icon like <Icon icon="emojione:house-with-garden" />"
i want to use by icon name instead of component

[2021-12-09 08:25] antfu commented on #131
https://github.com/antfu/unocss/tree/main/packages/preset-icons

[2021-12-09 08:25] #131 closed

[2021-12-09 20:26] cesswhite commented on #128
Hi, I have the same problem

**NodeJS version:** 16.13.1

**Error images**

<img width="796" alt="Captura de Pantalla 2021-12-09 a la(s) 14 24 13" src="https://user-images.githubusercontent.com/44076866/145470239-045aa70e-9a4b-40f2-8b91-03d6d0dc387d.png">
<img width="492" alt="Captura de Pantalla 2021-12-09 a la(s) 14 22 50" src="https://user-images.githubusercontent.com/44076866/145470242-36f5067

[2021-12-10 02:38] zynth17 commented on #128
got the same error on the latest 0.12.23

[2021-12-12 09:37] MrSunshyne commented on #128
I was able to resolve this by :
1. Update to 0.12.23
2. Point TS to the correct types

tsconfig.json
[code]

[2021-12-12 15:39] cesswhite commented on #128
and for react types?

[2021-12-12 21:08] josephfh commented on #128
@cesswhite From the readme:

[code]

Although with this I'm still stuck with a build error on Vite + React :

[code]

[2021-12-13 05:43] pincman opened #132 "icon component be a string from server"
If i have an menu config from server,the icon is string not component,how to use it?like [this](https://docs.iconify.design/icon-components/react/)

[2021-12-13 06:03] antfu commented on #132
https://github.com/antfu/unplugin-icons#custom-icons

You can write your down function to request them.

[2021-12-13 06:03] #132 closed

[2021-12-13 06:17] pincman commented on #132
@antfu Sorry, I may not have made it clear, the menu data object like
[code]
and in jsx,how to import ionify icon?
[code]
this component only can
[code]

[2021-12-13 06:25] antfu commented on #132
Sorry no if they can't be determined at build time https://github.com/antfu/unplugin-icons/issues/5

You can consider using Iconify's runtime

[2021-12-13 06:39] pincman commented on #132
I think this is indeed impossible, because the dynamic icon obtained from the server is unpredictable, so it is impossible to have a local icon. Maybe the official api from ionify is the best way
Another question, can local static icons only be used in the way of components?
How can it be loaded on demand like the following? The purpose of this is to encapsulate a unified `Icon` component to facil

[2021-12-13 06:41] pincman commented on #132
@antfu finally,component like
[code]

[2021-12-13 07:22] sxzz commented on #104
Please refer to https://github.com/sxzz/element-plus-best-practices/blob/93be0126da935109ae25cf2f9539991fb4f1d87c/vite.config.ts#L38

[2021-12-13 16:32] hspaay commented on #128
@MrSunshyne thank you for this, it is missing in the documentation and without it the module '~icons' is not defined.
Looks like the installation instructions needs to be updated to include this.

[2021-12-13 16:50] userquin commented on #128
@hspaay the readme contains the types for `react`, just got to https://github.com/antfu/unplugin-icons#configuration and check Frameworks > React entry

[2021-12-13 17:45] hspaay commented on #128
@userquin found it. It is documented indeed so I stand corrected. Thank you kindly.

As a side note, Webstorm still doesn't recognize the ~icons module even though vscode and the build work fine. My workaround is to add it to a shim file.
[code]
I can only speculate that webstorm doesn't interpret the compilerOptions 'types' section in tsconfig.json.
Even with the shim webstorm can't find the icon

[2021-12-13 17:53] userquin commented on #128
@hspaay I use IntelliJ Ultimate Edition and it seems the problem comes from using typescript 4.5, using `4.4.4` version I get it working, so maybe it is a problem with IDEA/WebStorm, or maybe we need to review the types.

I'll add your hint for IDEA/WebStorm/VSCode users to solve the problem (I will also check where is the problem, when  I have time ;) ).

[2021-12-13 18:22] hspaay commented on #128
Ah good to hear I'm not alone in this.
@userquin Thanks for the update.

Maybe there is another factor involved. When forcing typescript to 4.4.4 in package.json, deleting node_modules and rebuilding, the problem with ~icons remains in webstorm. Next, trying this with IntelliJ Ultima the problem remains as well.
If I ever find a solution I'll let you know.

[2021-12-16 18:25] Froskk commented on #112
Also not working with next / vercel

[2021-12-19 07:12] pincman opened #134 "work with windicss will catch an warn after run dev server"
first if install @svgr/core by pnpm for react
get an warn
[code]
and then overrides it in package.json
[code]
 `pnpm i` and run dev server by `pnpm dev`,catch the warn
[code]

[2021-12-20 17:44] antfu commented on #134
I don't think this is related, since neither windicss or unplugin-icons uses postcss

[2021-12-22 13:59] amihhs opened #135 "How to load icon components asynchronously using `defineAsyncComponent` in `VUE3`"
[code]
error
[code]
due to [`vite dynamic-import`](https://github.com/rollup/plugins/tree/master/packages/dynamic-import-vars#limitations)  limitations, I cannot use variables to load the corresponding icon when there is no clear path.

[2021-12-22 15:52] userquin commented on #135
@amihhs to get it working we need to resolve the icons on server side via some plugin and so the list is just filled on the server, you only need to add/remove/update icons on the vite config file:
- remove from the svg files all dtd preamble, just keep the svg node
- change `App.vue` to include the list from the server virtual module (see new App.vue bellow)
- change the collection resolver path

[2021-12-22 15:53] userquin commented on #135
![imagen](https://user-images.githubusercontent.com/6311119/147119595-c815af66-170c-447b-9580-f75ae6d77f18.png)

[2021-12-23 02:08] #135 closed

[2021-12-23 06:49] enpitsuLin commented on #103
Also same issue and I find one #46

after reading , still have no idea how to solve this

[2021-12-24 08:47] Fanna1119 opened #136 "Setting the icon properties for individual icons."
it is known that we can set the properties like this
`<icon-account-box style="font-size: 2em; color: red"/>`
or globally in the settings for all icons like this:

[code]

Sometimes when working with ui frameworks and custom components we would do the following:

[code]
the problem is that the icon is too small by default and i can't set the size here.

I was thinking of different ways to perhaps

[2021-12-24 17:47] userquin commented on #136
I'll take a look via configuration, later via url params and also including the option to force `background-img`  or `mask`.

[2021-12-24 20:25] userquin commented on #136
First approach from configuration, testing also query params:

![imagen](https://user-images.githubusercontent.com/6311119/147371461-d4fd5153-aa6b-40ce-9956-3d46f050e134.png)

![imagen](https://user-images.githubusercontent.com/6311119/147371447-4761cb42-ab03-4318-b5ef-66b7678fe3a4.png)

[2021-12-24 20:37] userquin commented on #136
with query params:

![imagen](https://user-images.githubusercontent.com/6311119/147371695-44ec44bc-f7e0-4e5d-98b7-9006610393d5.png)

![imagen](https://user-images.githubusercontent.com/6311119/147371689-ed842494-eb3a-41f7-afb4-43d38b62af49.png)

[2021-12-25 17:35] userquin commented on #96
@Xwudao @IanVS @antfu it seems the `default` export on `v5` becomes `transform` on `v6`, I'm fixing it, PR in a few minutes...

[2021-12-26 04:54] #136 closed

[2021-12-26 04:54] #96 closed

[2021-12-26 23:44] leosuncin commented on #103
Thanks to @enpitsuLin 's comment, I managed to make it works, you will need to:

*   Set the following config into `next.config.js`:

[code]

*   Add `.jsx` to every icon you import, in order, next.js knows how to load the icon

[code]

I not sure whether this is a desired behavior or it should be changed, but this is how it work with next.js

[2021-12-27 01:40] iamyuu commented on #103
Ah, we just need to add the extension (`.jsx`), check this commit https://github.com/iamyuu/nextjs-unplugin-icons-repro/commit/a1a62f766931d6629e4e609b3dc96e55569d0d79

and voila
![Screen Shot 2021-12-27 at 08 32 26](https://user-images.githubusercontent.com/45778229/147425535-c35346a8-a63b-4ed8-951f-20605469f3c3.png)

[2021-12-27 22:25] Codermar opened #141 "Icon Files with dot in name error on import"
I have an in-house large collection of icons all named with dots i.e. `calendar.circle.fill.svg` I have setup a custom collection but I am not able to import the components generated by the custom collection

[code]
In component, I can't use the following import
[code]
Icon `sy:calendar` not found
    at generateComponent (/usr/local/vue-kit/node_modules/unplugin-icons/dist/chunk-6LRP52NF.js:360:1

[2021-12-29 09:13] RickMeijer opened #142 "Trouble getting the auto import to work with sveltekit."
Hopefully this is the right place.
I'm having some issues getting the auto importer to work correctly and/or without warnings on sveltekit.
I've made an example repository here: https://github.com/RickMeijer/sveltekit_auto-import

- When visiting `localhost:3000` you'll see an error about a module not being found
- When visiting `localhost:3000/foo` you'll see the same icon. A warning appears in t

[2021-12-29 10:19] u007 opened #143 "import certain icons causes invalid escape charactor added"
[code]

LeftOutlined, UserOutlined works fine, but RightOutlined generatted this in componets.d.ts

[code]

pnpm lock file:
[code]

using template from https://github.com/antfu/vitesse

[2021-12-29 12:36] userquin commented on #142
@RickMeijer the icon on `index.svelte` doesn't exist, what do you expect to happen with this component `<IconMiPencilAlt />`? try adding a `majesticons` or add a custom collection to resolve it from some place (file system, network or inlined on custom collection icon plugin option: https://github.com/antfu/unplugin-icons#custom-icons).

[2021-12-29 13:40] userquin commented on #143
@u007 created project from vitesse template, adding `@ant-design/icons-vue` and using these 3 icons and works (the repo here https://github.com/userquin/vitesse-ant-design-icons-test):

![imagen](https://user-images.githubusercontent.com/6311119/147667950-77d1e1e4-6178-401d-84e7-ffc78454a59f.png)

![imagen](https://user-images.githubusercontent.com/6311119/147668002-271e9095-783a-4804-84be-8b8df14

[2021-12-30 04:44] u007 commented on #143
hmm not sure what happened, it works now without the prefix set

[2021-12-30 04:44] #143 closed

[2021-12-30 10:34] RickMeijer commented on #142
Thank you for the quick reply! Sorry to waste your time, I copied this over from another much larger project I'm actually having issued with (closed source though), and left this in by accident. Once changed, the behaviour is as expected (both icons work, regardless of location in the routing folder), so the issue is probably in the other project somewhere.

Still: the issue about the warnings whe

[2021-12-31 03:05] userquin commented on #142
@RickMeijer it shouldn't work, but it works, the problem is the svelte/sveltekit internals: we have 2 plugin, `unplugin-icons` and `vite-plugin-svelte`, both with `pre`, then we have a few other vite internal plugins and finally the `unplugin-auto-import` plugin with `post`.

The warning comes from `vite-plugin-svelte` because the  `unplugin-auto-import` is applied after it (the transformation) an

[2022-01-02 08:19] deelocodes opened #145 "Deploy your app for free 🚀"
Hey @antfu, I'm just stopping by to say great work and to make a recommendation! Will you need to host your app in the future? If so, I'd highly recommend using [DeeloCloud](https://www.deelo.cloud). It's built for developers, it's super easy to use, and you won't have to manage servers - which means you can focus on building!
Here's how it works in a few steps:

After signing up at https://deelo.

[2022-01-03 16:29] Knogobert commented on #103
Had to update from `next@10` to `next@12` for it to work. Now it runs nicely when using `.jsx` appended to the imported icons as @leosuncin did above. Thanks for the repo @iamyuu, that helped finding out why.

[2022-01-03 21:50] dmalson-zaelab commented on #92
Doesn't seem to work for me either. :(

[2022-01-05 16:03] BinaryBen opened #147 "Unable to use as dynamic element"
I'm trying to allow an icon to be inserted into another component via a prop.

This is the (simplified) component:

[code]

And elsewhere I am doing this:

[code]

This results in the following DOM:

[code]

Is there a way to make the icon work with the `<component :is= ...` feature of Vue? Alternatively, could a generic icon component be provided as part of the extension itself that uses a prop?

[2022-01-05 16:40] antfu commented on #5
Due to the mechanism of how [unplugin-vue-components](https://github.com/antfu/unplugin-vue-components) works, there is no way to infer a component from a dynamic string. (`unplugin-icons` only resolved icons at build time)

The workarounds for this is:

[code]

Or

[code]

[2022-01-05 16:40] antfu commented on #147
https://github.com/antfu/unplugin-icons/issues/5#issuecomment-1005887483

[2022-01-05 16:40] #147 closed

[2022-01-06 06:53] Enteleform opened #148 "possible to preemptively generate `AutoImport`'s `d.ts` file?"
### Use Case

Generate all possible types based on `Icons` & `IconsResolver` settings.

This would allow developers to take advantage of IntelliSense auto-completion, reducing the need to reference [Iconify](https://icon-sets.iconify.design).

[2022-01-11 15:07] didier opened #149 "Webpack + Svelte: You may need an additional loader"
Trying to use unplugion-icons with Webpack through Storybook (Storybook, Svelte and Vite don't play well together yet) but I can not get the plugin to work with webpack and svelte for the life of me.

### Svelte component
[code]

### Story
[code]

### Relevant lines of the webpack config (inside Storybook's `main.js`)
[code]

### Error log
[code]

[2022-01-13 01:47] playertk opened #150 "Custom icons problem"
[code]

// generated by unplugin-vue-components
[code]
console.error
[code]

There seems to be a problem with the automatically generated path
[code]

[2022-01-18 21:06] husayt commented on #7
@antfu with custom loader I guess we can achieve dynamic loading here too now.

[2022-01-19 00:53] husayt commented on #5
With autoImport one can achieve even more elegant solution. Use the same IconResolver you used in unplugin components:
[code]

Then you don't need to even import and the above will look like this:
[code]

[2022-01-19 11:14] CzBiX opened #151 "[Feature]Support pass `raw` in query to get raw string"
My project is mixed with react and html(due to third party library).
I want to get the svg content of icon, so I can pass it as html to other library.

Is it possible to support pass `raw` to use the raw compiler?
[code]

I modified some of code which can achieved the results I wanted.
But I think it's too tricky for the public, I wish there will be official support for this feature.

[2022-01-21 18:47] santiagocezar opened #152 "Merge default class when using react"
Similar to issue #53, but React not Vue.

Setting `className`on a icon component overrides the default class set in the config. This is because inside the declaration the `className` prop is set to `$defaultClass`, but after that props is spread and overrides className

This is how the declaration kinda looks (got it via console.logging the component)
[code]

IMO it should be something like
[code]

[2022-01-24 13:01] peteruithoven opened #153 "Vue 3 @vue/compiler-sfc peer dependency no longer needed?"
The [Frameworks section of the readme](https://github.com/antfu/unplugin-icons#frameworks) contains a part about Vue 3, where it says:

But looking into [@vue/compiler-sfc's readme](https://www.npmjs.com/package/@vue/compiler-sfc) it now states:

3.2.13 was released 4 months ago, see:
https://www.npmjs.com/package/vue?activeTab=versions

I'm not 100% sure what this means though, maybe from 3.2.13+

[2022-01-24 13:56] schlichtanders opened #154 "Feature request: Astro support"
It would be nice to use unplugin-icons as the go-to icon solution also in astro.

Background: I am using [astro](http://astro.build) as my static site builder and I didn't manage to use icons from unplugin-icons in my astro-files.

[2022-01-24 15:10] antfu commented on #153
Yes. PR weclome

[2022-01-25 23:45] mustafafrw commented on #114
what if we set the vite: false in the nuxt config and use webpack? How can we add these resolvers?

[2022-01-28 19:10] theoephraim opened #155 "vite / vue-tsc compiler error"
Not exactly sure when this started, but I'm getting an error when running `vue-tsc` (TS typechecking for vue) related to this plugin

running `vue-tsc --noEmit` gives me the following error
[code]

My tsconfig:
[code]

[2022-02-01 13:27] sylvainpolletvillard opened #158 "Ability to specify SVG title"
Hello, and thanks for this great library.

I would like to add a title attribute to my icon components.
Problem is `<svg title="Icon explaination"></svg>` does not provide a tooltip on mouseover as you would expect with any other HTML element. For SVG, the title must be a child element of the svg tag like this:
[code]

which is out of reach at the moment with unplugin-icons

I wonder if it would b

[2022-02-02 13:47] vhscom opened #159 "First Time User Experience"
In total I spent about 20 minutes trying to set-up with a SvelteKit project and ended up just giving up for now. So that was my experience. The whole thing could have gone a lot smoother if:

a) The instructions didn't assume `~` in an import path to just magically work (despite its esoteric meaning)
b) The nomenclature was more consistent re: "collection-id" in readme and the _prefix_ used by ico

[2022-02-02 18:35] userquin commented on #159
@vhscom have you read the readme docs? The answer to your questions:
a) the `~icons:` prefix is just another alias for `virtual:icons:`: you can use the `virtual:` prefix since you're using `svelte/sveltekit`.
b) the icon collections comes from another package we wrap (`@iconify`), so you should check it: about the prefix (`i-` by default) is to avoid parsing all rules + check if collection/icon e

[2022-02-02 18:43] userquin commented on #158
@sylvainpolletvillard you can add your custom compiler, check the `vite-svelte` example: https://github.com/antfu/unplugin-icons/blob/main/examples/vite-svelte/vite.config.js and https://github.com/antfu/unplugin-icons/blob/main/examples/vite-svelte/src/CustomSvg.svelte

[2022-02-03 09:03] vhscom commented on #159
Just wanted to leave _my_ experience. I hope you found it valueable. Thank you.

[2022-02-03 09:03] #159 closed

[2022-02-03 09:32] vhscom commented on #159
Also, a quick follow-up because I just noticed there were two resposnes:

- The readme suggests `@iconify/json` is `120mb` (32 just now when I checked) which is why I opted to try and install an icon set which caused me a bit of pain due to other issues in the README. So I think @enyo hit the nail on the head in that the breadth of the project is so wide it's hard to keep the installation instruct

[2022-02-03 09:35] vhscom commented on #159
Also, a quick follow-up because I just noticed there were two resposnes:

- The readme suggests `@iconify/json` is `120mb` (32 just now when I checked) which is why I opted to try and install an icon set which caused me a bit of pain due to other issues in the README. So I think @enyo hit the nail on the head in that the breadth of the project is so wide it's hard to keep the installation instruct

[2022-02-03 09:36] vhscom commented on #159
Also, a quick follow-up because I just noticed there were two resposnes:

- The readme suggests `@iconify/json` is `120mb` (32 just now when I checked) which is why I opted to try and install an icon set which caused me a bit of pain due to other issues in the README. So I think @enyo hit the nail on the head in that the breadth of the project is so wide it's hard to keep the installation instruct

[2022-02-03 09:37] vhscom commented on #159
Also, a quick follow-up because I just noticed there were two resposnes:

- The readme suggests `@iconify/json` is `120mb` (32 just now when I checked) which is why I opted to try and install an icon set which caused me a bit of pain due to import issues and the `~` thing (which I still don't recognize nor understand). So I think @enyo hit the nail on the head in that the breadth of the project is

[2022-02-03 09:41] vhscom commented on #159
Also, a quick follow-up because I just noticed there were two resposnes:

- The readme suggests `@iconify/json` is `120mb` (32 just now when I checked) which is why I opted to try and install an icon set which caused me a bit of pain due to import issues and the `~` thing (which I still don't recognize nor understand). So I think @enyo hit the nail on the head in that the breadth of the project is

[2022-02-03 09:47] vhscom commented on #159
Also, a quick follow-up because I just noticed there were two resposnes:

- The readme suggests `@iconify/json` is `120mb` (32 just now when I checked) which is why I opted to try and install an icon set which caused me a bit of pain due to import issues and the `~` thing (which I still don't recognize nor understand). So I think @enyo hit the nail on the head in that the breadth of the project is

[2022-02-03 09:48] vhscom commented on #159
Also, a quick follow-up because I just noticed there were two resposnes:

- The readme suggests `@iconify/json` is `120mb` (32 just now when I checked) which is why I opted to try and install an icon set which caused me a bit of pain due to import issues and the `~` thing (which I still don't recognize nor understand). So I think @enyo hit the nail on the head in that the breadth of the project is

[2022-02-04 15:10] enyo commented on #159
Out of curiosity, what was the compiler error you got @vhscom ?

In regards to the iconify lib: I'd just install it since that doesn't affect build size. It's just gonna sit in your `node_modules` folder.

In regards to the `~icons` convention, if I'm not mistaken this is just handled by a vite plugin that will transform the input appropriately and generate the desired component at build time.

[2022-02-05 07:22] vhscom commented on #159
Thanks @enyo your help is much appreciated. I wish I could tell you what the compiler error was but it's actually gone with `1.0.0-next.260` kit version (and the icons work now). So that's good. Note the kit renamed `global.d.ts` to `app.d.ts` now and removed the temp wrapper div `id="svelte"`. Minor stuff really and to be expected since the kit is still in beta.

[2022-02-05 08:08] vhscom commented on #159
Okay this works perfectly now. This project is awesome. :smile: @userquin fyi about the updates to the structure of SvelteKit above. And thanks so much for dropping me [Icônes](https://icones.js.org/) I'd seen that once a couple years ago but lost the bookmark. It's going to be very handy now. Cheers. :smile:

[2022-02-05 08:09] vhscom commented on #159
Okay this works perfectly now. This project is awesome. @userquin fyi about the updates to the structure of SvelteKit above. And thanks so much for dropping me [Icônes](https://icones.js.org/) I'd seen that once a couple years ago but lost the bookmark. It's going to be very handy now. Cheers. :smile:

[2022-02-06 03:29] visusys opened #160 "How to convert JSON icon files to SVG in batch?"
Maybe I'm missing something but I downloaded all the sets with `npm i -D @iconify/json` and received a bunch of JSON files that store the SVG definitions. Is there a way to batch convert all of these JSON files into individual SVGs?

Thanks for any help.

[2022-02-07 08:14] HassanZahirnia commented on #103
Do you guys also know how to make the Auto Importing feature work with Next.js ?

[2022-02-07 10:34] Knogobert commented on #103
Haven’t tried myself yet, but I think it has something to do with getting the icons for SSR during build-time being quite tricky.
Saw some relevant thoughts on it in Anthony's discord in [#unplugin-icons](https://discord.com/channels/937808017016119440/937969906157240351)

Probably not the best way to paste this here, but at least you can see it without discord:
![image](https://user-images.github

[2022-02-07 13:55] spa5k opened #161 "@svgr/core dependency version peer dependency error"
[code]
This error comes when we install latest version of @svgr/core into project alongside unplugin-icons even though the current version being used in main package is 6.1.2.

https://github.com/antfu/unplugin-icons/blob/4fde686174e0d054eac180c179dbae820afefba1/package.json#L104

[2022-02-07 17:09] didier opened #163 "Broken in SvelteKit: `Failed to resolve import "~icons/mdi/account-box"`"
Following the install guide, I haven't been able to get this to work. Using the `mdi` set as an example here.

Reproduction: https://stackblitz.com/edit/unplugin-issue?file=src/routes/index.svelte

[code]

### Svelte.config.js
[code]

I should note I have gotten this plugin to work previously, seems that it breaks now.

[2022-02-07 18:41] #163 closed

[2022-02-07 18:42] userquin commented on #163
@didier `vite` option should go inside `kit` option

[2022-02-07 18:44] userquin commented on #163
https://stackblitz.com/edit/unplugin-issue-lw1cyu?file=svelte.config.js

[2022-02-07 19:11] didier commented on #163
@userquin I must be blind. Can't believe I missed that. I'll close this now. Thanks!

[2022-02-08 01:11] EstebanBorai opened #164 "Support to change `~icons` alias"
It would be great to have support for defining a custom alias when configuring unplugin icons, this would help in cases where you want to follow library or framework conventions.

For instance it's commonly seen in ReactJS codebases _import aliases_ prefixed with `@` for example: `@project-name`, or in case you want to alias the path to the `components` directory you could do`@components`. In Svel

[2022-02-08 06:27] zhangchenna commented on #5
你这么写没用吧

[2022-02-08 12:31] #161 closed

[2022-02-11 08:59] r-priyam commented on #5
Alternatively [this component method can also be used](https://github.com/antfu/icones/blob/master/src/components/Icon.vue) to get the icons dynamically rendered using string. Is it advisable to use it? @antfu

[2022-02-11 16:10] taffit opened #165 "Possibility to generate SVG/access body instead of component"
Hello,

and first of all: thank you for this wonderful software which leverages the usage of the already marvellous iconify even more.

I have a problem currently, where I need to use the icons in the JavaScript-code of a SvelteKit-application in order to generate some html. However I couldn't find any possibility to easily generate the SVG out of an imported icon. Instead I get a `ProxyComponent`

[2022-02-11 16:38] userquin commented on #165
@taffit adding `?raw` is what you need? https://github.com/antfu/unplugin-icons/issues/151

[2022-02-11 17:16] userquin commented on #151
@CzBiX this is what you need?

![imagen](https://user-images.githubusercontent.com/6311119/153637759-666c80a4-7a2e-4368-82fd-592a7219e3d2.png)

[2022-02-11 18:12] taffit commented on #165
@userquin Exactly something like this! Would be great: still flexible to add every icon, but also to chose in which format. This would fit my needs perfectly!

[2022-02-11 18:18] userquin commented on #165
@taffit I only add the  `raw` compiler, since you can use only one compiler from configuration options, and `none` will be only usable from internal compilers.

Yes, the examle is on `vue3` example but you can also apply the same code to your `svelte/sveltekit` sfc, the iimport will just export the svg icon as default, so you can use it where you want.

[2022-02-11 18:33] demiro opened #167 "Using with External template results with error"
using my Vue component like:

[code]

and in my html file I use something like:

`<carbon-mobile />`

And I am getting this warning in the console (and obviously the icon not displaying)
![image](https://user-images.githubusercontent.com/514682/153649203-6afc0a68-037d-426b-bcc6-71387d1260e8.png)

If I would be to use the same code within my Vue component's template (as in single file component), i

[2022-02-11 19:01] userquin commented on #165
@taffit I'll add an example on `svelte/sveltekit` examples (also for each fw)

[2022-02-12 09:22] CzBiX commented on #151
That's exactly what I wanted.
There is a small issue in your picture, it has an extra `raw` attribute on `svg` element.

[2022-02-12 10:14] userquin commented on #151
@CzBiX yeah, removed on the PR code

[2022-02-12 11:51] userquin commented on #151
@CzBiX I have included how to use it on react example, is there a better way to do it, right now using `dangerous...` attr?

[2022-02-13 11:46] taffit commented on #165
@userquin Thanks a lot for the quick response! Fabulous! Exactly and easily and quickly solving the issue! Perfect! Thank you once more!

[2022-02-14 08:51] trathailoi commented on #155
The same to me. Any solution on this one guys.

[2022-02-16 08:06] ram-you commented on #86
@julie777
I added this lines to quasar.conf.js build:
[code]
And it works.

[2022-02-17 07:11] trathailoi commented on #108
So nice Dennis, thank you for doing this.

[2022-02-17 12:51] leosin commented on #128
nuxt3 + TS4.5.5
![image](https://user-images.githubusercontent.com/3676670/154484295-cd94e453-5c4c-4964-8d80-61658113dd3b.png)
It also appears on nuxt3, either in buildModules or vite way
![image](https://user-images.githubusercontent.com/3676670/154484681-28bb5e38-e811-470e-b30b-d4ae30af487e.png)

[2022-02-18 06:53] #151 closed

[2022-02-18 06:53] #165 closed

[2022-02-19 03:22] Enteleform opened #169 "Astro compatibility pragma"
# Issue

I've been using `unplugin-icons` & `unplugin-auto-import` with [Astro](https://github.com/withastro/astro), and the combination has worked very well when using a single renderer.

When enabling multiple renderers, Astro requires a pragma comment (*`/** @jsxImportSource react */`*) to process JSX/TSX files with the appropriate renderer. Since those comments don't exist in the virtual files

[2022-02-20 18:40] userquin commented on #169
@Enteleform you can add your plugin before the astro one, just go here and check the plugin `astro-fix-order`:
https://stackblitz.com/edit/github-d4rp6r-usdxm9?file=astro.config.mjs

You can also install the `vite-plugn-inspect` to check you're doing the correct changes (you have the dev dep configure on previous repro).

[2022-02-22 03:34] Enteleform commented on #169
Okay I'll try that out. Thanks for the tip!

[2022-02-22 03:34] #169 closed

[2022-02-28 19:18] SarcevicAntonio commented on #142
Hello!
Im trying to use auto-import with svelte and wondered if it is supported at all?
Do I need to set `extension` to `'tsx'` or to `'svelte'` or leave it out completely?
What can we do to get it working/supported?

[2022-02-28 21:38] maxshadurskiy commented on #5
@husayt it works!

[2022-02-28 23:17] awacode21 opened #171 "Default icon size 1.2em differs from iconify default icon size 1em"
Regarding the [iconify docs](https://docs.iconify.design/icon-components/vue/dimensions.html) the icons should default to width="1em" and height="1em".
Which it does when using iconify directly.

But when using the iconify icons by unplugin-icons they default to width="1.2em" and height="1.2em". So it differs from documentation.

Indeed this is not so important as you can set the "right" sizes by

[2022-02-28 23:33] antfu commented on #171
It's intentional and documented here https://github.com/antfu/unplugin-icons/blob/e4f49809756f55e9cd46b03de55eaee0876996da/src/types.ts#L10-L15

[2022-02-28 23:33] #171 closed

[2022-03-01 07:45] leosin commented on #5
Uncaught (in promise) ReferenceError: IconMdiAlarm is not defined

[2022-03-04 13:37] mtunski commented on #148
+1

[2022-03-04 16:39] antfu commented on #148
Note that by default it supports all 30,000+ icons, generating that would be very inefficient. For IDE support you might want https://github.com/antfu/vscode-iconify

[2022-03-04 16:39] #148 closed

[2022-03-08 09:17] leishihong commented on #128
配置确实好了

[2022-03-09 09:32] pincman opened #172 "error: You may need an additional loader to handle the result of these loaders in webpack"
build by docusaurus and react

webpack config

[code]

error
[code]

[2022-03-09 10:09] maxweld opened #173 "ERROR: Do not know how to load path: html:~icons/mdi/delete"
At Vite startup I am getting the above error on all icons in use, and consequently the Vite server wont start.

Strangely I had this same issue 2 days ago, but was in a hurry, so just repleced icons with simple text as a get around. When I put back the icons yesterday, it all worked as expected. This morning when I started VS Code, I got the error again.

Environment: Vue 3, Typescript on Windows

[2022-03-09 10:40] maxweld commented on #173
So I have just commented out all icons and replaced with text and all works fine. Then I reinstated the icons and all continues to work. I did a hard reset back to the commit point taken just before I closed down last night, and all still works. Very strange!!

I will leave the Issue open for now just in case anyone else is seeing this phenomenen.

[2022-03-10 17:06] userquin commented on #142
@SarcevicAntonio @ogrotten you can use `preset-icons` from `unocss`, you don't need more sfc for your icons, the icons will go to your css

[2022-03-14 17:57] martaradziszewska commented on #92
@Akryum For me, auto-import works perfectly well with storybook. I tested your case with feather icons and it seems it can be one of three causes:
- missing closing tag for the Icon -> `<IconFeatherMail />`
- missing iconify dependency -> `@iconify-json/feather`
- missing extension for webpack IconResolver with auto-import

my guess is option 1, as without closing tag it doesn't work for me either

[2022-03-20 18:39] itpropro opened #177 "Component auto import doesn't work with custom icons"
I can't get custom icon auto component import to work with unplugin-icons.
I have a folder with svgs and I use the `FileSystemIconLoader` helper to load the icons.
As soon, as I explicitly import the icons with
[code]
it works, but eventhough I added the following to the Components configuration, it doesn't load the components
[code]
Here is a reproduction repo based on vitesse-lite and two fontaw

[2022-03-22 15:34] qgates opened #178 "Rendered SVG's ignore 'scale' from 0.13.4 to 0.14 (and defaults to 1em)"
Code:

[code]

In versions 0.13.4 and below, the icon is rendered with width and height at 1.2em, the default `scale` setting for options as [specifed in the docs](https://github.com/antfu/unplugin-icons#options). Since 0.14 the icon is rendered at with width and height of 1em. Changing `scale` no longer works. This affects all icons (and breaks) my project. Is this expected behaviour or a breakin

[2022-03-22 17:08] userquin commented on #178
@qgates we've update the plugin to use universal icon loader, it seems we need to change some logic, fixing it

[2022-03-22 18:36] userquin commented on #178
![imagen](https://user-images.githubusercontent.com/6311119/159551972-d9865d1c-bdc4-41dc-87d6-f3215fc3f581.png)

[2022-03-23 01:05] qgates commented on #178
@userquin looks good 👍 Any way to test on the PR or do I just wait for @antfu to release?

[2022-03-23 08:21] #178 closed

[2022-03-23 10:56] qgates commented on #178
Many thanks tested all working correctly 👍

[2022-03-24 18:15] m424m commented on #5
I don't think you need unplugin-icons for this at all. Here is what I did:

[code]

And you only have to install the icon package (in my case it's `@iconify-json/ic`). Other icon packs may require different name formats, but the general idea is the same.

[2022-03-24 21:57] userquin commented on #158
I need to fix a few things, but it works, on mouse over the title will appear as a tootip:

![imagen](https://user-images.githubusercontent.com/6311119/160016940-c594bcce-eca2-4c4d-8d11-a60c1e92641d.png)

![imagen](https://user-images.githubusercontent.com/6311119/160016831-85933067-9fbd-4486-9443-51ee33bb4323.png)

[2022-03-25 18:19] Codermar commented on #177
I have this working with Vue 2 and unplugin-icons fine. Here's my vite.config pertinent sections
[code]

[2022-03-25 18:38] Codermar opened #180 "Dynamic components: Unable to use component v-bind:is="
Hi,
I am enjoying using your plugin immensely. Thanks!

However, I have an action bar component where I would like to setup a button with a dynamic icon but the svg does not get rendered.

This is the partial code for my action bar component:
[code]

I am passing props: ```:customButton="{ label: null, icon: 'SymbolPlusSquare', label: 'My Action' }"```

What gets rendered is:

```<symbolplussquare

[2022-03-29 06:46] MrSunshyne opened #181 "Feather Icons prefix collides with SVG Filter Effects"
If you use SVG Filter effects in the project, in my case a Vue3 project, due to the fact that the filters start with `fe`, it tries to resolve them as icons and fails. Feather Icon has the `fe` prefix as well.

Vite shows this message:
![image](https://user-images.githubusercontent.com/1721611/160549712-96bd1b68-670c-44a7-9286-918ef9ec23a5.png)

What is a Filter Effect? [See here](https://develope

[2022-03-29 08:04] itpropro commented on #177
@Codermar is my reproduction repository working for you? I have not used Vue 2 for over a year and I don't plan to go back ;)

[2022-04-04 22:19] acalvino4 opened #186 "Bundle whole set of icons"
Can this plugin be used to bundle a whole icon set?

The use case is user-generated content: I want to be able to specify an icon set (or sets) from my build process or from my JS, then have the content author be able to select an icon from that set via my CMS backend. I can't know ahead of time which icon will be selected - it is simply specified in my backend template as the content of a field,

[2022-04-06 02:59] hugazo commented on #155
Same here, i've managed to isolate the issue to Typescript 4.5+, it goes away when you activate the `compilerOptions.skipLibCheck: true` in your tsconfig file

[2022-04-06 22:02] SarcevicAntonio opened #187 "Auto Import for SvelteKit (or VSCode import suggestion)"
Like I mentioned here https://github.com/antfu/unplugin-icons/issues/142#issuecomment-1054581854, Im trying to use auto-import with SvelteKit and wondered if it is supported at all.

Or if VSCode could somehow suggest imports of something like `< IconMdiAccountBox/>` I would be happy also very happy.

What can we do to get this working/supported?

[2022-04-06 22:23] userquin commented on #187
what works is the auto import, we haven't a `unplugin-vue-components` for svelte, it only works only with `vue` and `react` see https://github.com/antfu/unplugin-icons#auto-importing

[2022-04-06 22:24] userquin commented on #187
uppps, wrong button, sorry

[2022-04-08 09:58] roamiiing opened #188 "ID collisions in vue 2"
Hey! I am using this plugin really often with Vite and Vue 3. But now I am trying to use this plugin on Vue 2 and webpack 4 and getting collisions with IDs in attrs of svg elements.

I've looked at the code and noticed that there's [this function](https://github.com/antfu/unplugin-icons/blob/main/src/core/svgId.ts), but it's only used in [the compiler for Vue 3](https://github.com/antfu/unplugin-i

[2022-04-11 05:22] mckyb commented on #159
New to Svelte, would love some help on getting it setup. I've read the readme docs but still unclear.

I keep getting: `Module not found: Error: Can't resolve '~icons/ri/map-pin-line'`

`global.d.ts`
[code]

`svelte.config.js`

[code]

[2022-04-11 06:50] vhscom commented on #159
@mckyb Your set-up looks good (though `global.d.ts` can be renamed to `app.d.ts` to match what the latest `svelte-create` provides). I tried importing `'~icons/ri/map-pin-line'` in [svelte-headlessui-starter](https://github.com/vhscom/svelte-headlessui-starter) and it worked fine. So I'm guessing you're bumping the same issue I originally had and that was not starting with `@iconify/json` which gi

[2022-04-11 06:54] vhscom commented on #159
Your set-up looks good. Two adjustments are to rename `global.d.ts` to `app.d.ts` to match what the latest `svelte-create` provides and using `import` in your config file. I tried importing `'~icons/ri/map-pin-line'` in [svelte-headlessui-starter](https://github.com/vhscom/svelte-headlessui-starter) and it worked fine.

I'm guessing you're bumping the same issue I originally had and that was not s

[2022-04-12 12:34] blowsie commented on #92
I can confirm I have the issue even when using the above steps.
1. AppTimeline.stories.js
[code]

2. .stories/webpack.config.js
[code]

[2022-04-13 17:03] itpropro commented on #177
This problem still exists, any updates?

[2022-04-14 11:18] modex98 opened #189 "how to create a dynamic list of icons"
How to print a list of icons just from an array   for example `[{ name: "edit" }, { name: "settings" }]`

and i get
[code]

and in the browser it really renders the wanted icon

[2022-04-14 11:51] userquin commented on #189
@modex98 you can try `import.meta.glob` or `import.meta.globEager` using `raw` option, but you'll need to use some directive to render the svg icon: https://github.com/antfu/vite-plugin-pwa/issues/257#issue-1192505746

[2022-04-15 07:09] Hongbusi opened #190 "Whether to support the function of viewing the icons list"
`unplugin-icons` looks cool.

I want to use custom icons in my project, but it seems that viewing the icon list is not supported, so that the management and use of icons is inconvenient.

Thank you.

[2022-04-18 01:03] RomanMunar commented on #172
Faced the same issue. I followed this one. Turned out you need to add a .jsx extension in each import statements.
https://github.com/antfu/unplugin-icons/issues/103#issuecomment-1001257625

and this one fixed the typescript issue with importing them.
[code]

[2022-04-27 02:00] Inori-Lover commented on #128
i think it due to tsconfig.json, by default @vue/cli or other cli have "include", and it will prevent type import from node_modules(even have define in types array

![image](https://user-images.githubusercontent.com/9866055/165423191-e9d148f6-7d96-41c4-b270-92ed027a3546.png)
i make this change and it look fine for me

[2022-04-27 05:43] replygirl commented on #128
@Inori-Lover [nuxt 3 generates the tsconfig for you](https://v3.nuxtjs.org/guide/directory-structure/tsconfig), maybe that's your problem:

[code]

[code]

[2022-04-27 18:02] chobitsnerv commented on #177
Actually I also met same issue under vue3.
While using auto import, import will take effect but IconsResolver looks failes.
When I use the test autoInstall feature, it will always try to install my local path and failed with errors.
Looks IconsResolver does not load the local path correctly without any error msg output.

[2022-04-28 09:05] wysher commented on #108
I wrote simple jest resolver for this. Because I use jest-webpack-resolver I must combine it with my custom resolver.

first I created file `/tools/jest/returnNull.js` which will be used as a replacement of icon.

[code]

Then I created file `/tools/jest/resolvers.js`

[code]

then for `jest.config.js` i set resolver key to:

[code]

There's possibility to return svg or something instead of null,

[2022-04-29 04:03] prescience-data opened #191 "Broken `vite` typing for `Plugin` in `dist`"
When attempting to build, I receive the following error:
[code]

Upon inspection, there seems to be a broken link with Vite when building (`node_modules/unplugin-icons/dist/vite.d.ts`)

![image](https://user-images.githubusercontent.com/65471523/165883550-de8d7a4c-2989-4616-8365-e4284731ab2b.png)

[2022-04-30 03:41] Liam1213 commented on #128
tsconfig.json
[code]

This works for me

[2022-05-02 21:11] antfu commented on #191
Should be fixed

[2022-05-02 21:11] #191 closed

[2022-05-03 05:50] peter50216 opened #192 "default import from "unplugin-icons/vite" get wrong type (since 0.14.2)"
[code]
gives the following error in 0.14.2:
[code]
Which works fine in 0.14.1

Looks like this is introduced by 1932a831d3ab6225fe20fb9320de4c014c4ab2aa `package.json` change, and the import resolves to `dist/index.d.ts` instead of `dis/vite.d.ts`.
I can solve the issue locally by removing the `"./dist/index.d.ts",` line in `typesVersions` field, but I don't know if that will break any other usage

[2022-05-03 05:57] antfu commented on #192
PR welcome!

[2022-05-03 06:17] #192 closed

[2022-05-03 15:36] Jogai opened #194 "prime icon not working"
Set up the project as described in the readme. Including auto import: https://github.com/antfu/unplugin-icons#auto-importing

The important part of vite.config.js:

    // https://github.com/antfu/unplugin-auto-import
    AutoImport({
      imports: ["vue", "vue/macros", "vue-router", "@vueuse/core"],
      dts: true,
      eslintrc: {
        enabled: true
      }
    }),

    // https://github.c

[2022-05-03 16:46] userquin commented on #194
try adding `enabledCollections: ['prime'],` to the `IconsResolver`

[2022-05-03 17:33] Jogai commented on #194
Thanks, but no. Works for other sets tough. And `"@iconify-json/prime": "^1.1.1",` is added to my packages.json I saw, but its not displayed.

[2022-05-06 07:44] serfend commented on #189
when i use `import.meta.glob` or `import.meta.globEager`
its warn that `[plugin:vite:import-analysis] Invalid glob import syntax: pattern must start with "." or "/" (relative to project root) or alias path`

[2022-05-06 07:49] serfend commented on #180
NOT SUPPORT THIS WAY for [there is no way to infer a component from a dynamic string](https://github.com/antfu/unplugin-icons/issues/5#issuecomment-1005887483)

[2022-05-06 07:49] serfend commented on #189
NOT SUPPORT THIS WAY for [there is no way to infer a component from a dynamic string](https://github.com/antfu/unplugin-icons/issues/5#issuecomment-1005887483)

[2022-05-06 17:51] Skia69 opened #195 "Trouble with importing icons in a vite/react project"
Hello, i tried to follow the documentation as best as i could in order to use unplugin-icons in a react/vite project and it looks like i wasn't really successful

My vite.config is as follows:
[code]

As you can see, my svg icons are located inside `src/assets/icons`

Now, here's how i'm trying to import the icons in one of my components:
[code]
But it's throwing the following error:
``[vite] Inte

[2022-05-06 18:38] userquin commented on #195
@Skia69 your collections must go inside `customCollections` option: https://github.com/antfu/unplugin-icons#custom-icons

[2022-05-06 19:34] Skia69 commented on #195
Yup, sorry for the confusion. It still doesn't work and i have no idea how to fix it

[2022-05-06 20:03] userquin commented on #195
@Skia69 have you installed `@svgr/core` dependency? it is required, check `React` entry here https://github.com/antfu/unplugin-icons#frameworks

You should use also `@vitejs/plugin-react-refresh` instead `@vitejs/plugin-react` but I'm not an expert on `react`, check the `examples/vite-react` example (no custom icons).

[2022-05-06 20:17] Skia69 commented on #195
Yes mate, i followed the steps in the link you just shared and i installed the necessary dependencies but it still didn't work

[2022-05-06 20:43] userquin commented on #195
@Skia69 can you share a minimal repro github or stackblizt? I'll check the `vite-react` example...

[2022-05-06 20:55] Skia69 commented on #195
Sure, i'll do it tomorrow once i wake up. I'm away from my pc right now

[2022-05-06 21:35] userquin commented on #195
@Skia69 you've a working repo with custom icons and logos collection here: https://stackblitz.com/edit/vitejs-vite-dinjys

[2022-05-07 14:28] #98 closed

[2022-05-07 17:39] Skia69 commented on #195
Thank you bro, i managed to get it sorted out thanks to you. The main issue was that the `vite-plugin-eslint` plugin is breaking my application every time i import an svg using this syntax `import IconHome from '~icons/app-icons/home'`
I didn't know how to solve it, so i ended up disabling the eslint plugin altogether

[2022-05-07 17:45] userquin commented on #195
@Skia69 can you share you eslint configuration?

[2022-05-07 17:47] Skia69 commented on #195
Here it is:
[code]

[2022-05-07 17:49] Skia69 commented on #195
One more question, please
I'm trying to make it so that i can change the svg color dynamically by using this code snippet:
[code]

 The `fill="currentColor"` is not being insert into my svg component. Any clue why?

[2022-05-07 17:53] userquin commented on #195
@Skia69 you should configure it on the container or in the component, I mean the color, `text-red-500` for example if using UnoCSS or using a style/class on it: `class="text-red-500"` or `style="color: red"`

[2022-05-07 17:56] Skia69 commented on #195
It's not really working,
This is what it looks like in my console
![Screenshot 2022-05-07 205532](https://user-images.githubusercontent.com/42115721/167266110-bf6dfe93-97d8-479e-8fd7-96236b5f636a.png)
As you can see, the `fill="currentColor"` property is nowhere to be found

[2022-05-07 17:57] userquin commented on #195
try just removing the `fill` attr

[2022-05-07 18:00] Skia69 commented on #195
Actually, if you play attention closely, you can notice that the svg already these properties `width="24" height="24" viewBox="0 0 24 24" fill="none"`
Do you know how i can remove and replace them with my own attributes?

[2022-05-07 18:11] userquin commented on #195
I mean, you must remove the fill attr from the svg, the plugin (via `@iconify/utils`) will not check for duplicates attrs IIRC.

just remove them from the svg, add the `iconCustomizer(collection, icon, props)` to the plugin and add the new attrs to the `props`, check for the collection and the icon if you need some custom props, it is a `Record<string, string>`.

For example, check this, only `ico

[2022-05-07 18:12] userquin commented on #195
you can also change the attrs on the svg it is on your local file system

[2022-05-07 18:14] userquin commented on #195
Updated my repro, check the apple icons on the screen, one white and the same with red color using:

[code]

[2022-05-07 18:22] Skia69 commented on #195
Yes, i had to swap `fill` attr with `fill="currentColor"` manually since almost all my svg's have more than one path with a hardcoded `fill` and i didn't really know how to configure it through vite 🤣 🤣

For example, the following svg has 2 paths which each has a hardcoded `fill` attr

[code]

I removed em manually and now the color is applied dynamically

[2022-05-07 18:29] userquin commented on #195
@Skia69 can you fork my repro and configure the eslint and the vite-eslint-plugin? I added your previous config and bith eslint and vite-eslint-plugin but still with errors starting the dev server.

[2022-05-07 18:47] userquin commented on #195
You can also check this https://github.com/antfu/unplugin-icons#advanced-custom-icon-set-cleanup, check the repo and the article from `@iconify`: you can optimize your custom icons without having to change them manually (IIRC)

[2022-05-07 18:52] Skia69 commented on #195
Here's my repo with all the eslint configs/plugins included:
https://stackblitz.com/edit/vitejs-vite-zskibi?file=.eslintrc,package.json,src%2Fmain.tsx

If you disable the eslint vite plugin, the app will work normally and that's how i managed to get it to work

[2022-05-07 19:55] userquin commented on #195
@Skia69 check this https://stackblitz.com/edit/vitejs-vite-wm9ode?file=.eslintrc, should work but I'm not an expert on eslint, check line 14: https://github.com/import-js/eslint-plugin-import/blob/main/README.md#importignore

Another solution will be exclude that rule: https://github.com/hannoeru/vite-plugin-pages/issues/41#issuecomment-824753402 and next comment

[2022-05-07 21:47] Skia69 commented on #195
I really app

Thank you for taking the time to help me, i really appreciate it!
I'm not really fluent with all those eslint rules - the easiest fix for me was to disable the vite-eslint plugin altogether :/

[2022-05-07 22:15] userquin commented on #195
Ok, so, can you close this issue?

[2022-05-08 09:53] #195 closed

[2022-05-09 16:50] gitgkk opened #196 "Using in vue 2 application with events"
Hi,
Glad to see a project with such a large collection of icons.
Does this library support mouse events on icons like onHover, onClick ?
Any examples with vue 2, vuetify?

Thanks,
Kashyap

[2022-05-09 18:52] userquin commented on #177
@itpropro I'll take a look (unfortunately I haven't had time to update to pnpm 7 yet and I have to do it, so I'll try to check what's wrong)

[2022-05-09 19:25] userquin commented on #177
@itpropro so, the components.d.ts in your repo should have `Footer` and the router components once we import the icons on the `src/pages/index.vue`?

[2022-05-09 19:38] userquin commented on #177
also the `UnoCSS` icon working:

![imagen](https://user-images.githubusercontent.com/6311119/167484739-6ad20830-acba-474d-adf1-b911a4a21a78.png)

[2022-05-09 19:43] userquin commented on #177
so the problem now is to auto import these 2 icons...

[2022-05-09 20:13] userquin commented on #177
@itpropro working

You are not using the convention to use the auto import, the icon tag should be `<i-collection-icon />`, by default the icon resolver has `i` as prefix.

In your repo, I update to latest versions the following deps: `vite 2.9.8`, `unplugin-icons  0.14.3` and `@vitejs/plugin-vue 2.3.2` (some other but not required, if you have some problem just request me the full `dev dependenci

[2022-05-09 20:19] userquin commented on #177
![imagen](https://user-images.githubusercontent.com/6311119/167490782-d40f2a05-a20f-4bc9-883b-251519b76184.png)

[2022-05-09 20:29] userquin commented on #196
@gitgkk yes, it will generate vue component for each requested icon, but, you will not be able to change the icon on `@mouseover`

![imagen](https://user-images.githubusercontent.com/6311119/167492242-c53f8d4f-e840-4363-ba65-4a340587ef18.png)

[2022-05-10 04:03] TuiMao233 opened #197 "Browse local svgfonts or used svgfonts"
It would be great to have a graphical management

[code]

[code]

[2022-05-10 16:10] lewebsimple opened #198 "Using extendBuild in Nuxt 3 has no effect. Instead call extendWebpackConfig and extendViteConfig."
This [line](https://github.com/antfu/unplugin-icons/blob/05fb6c62490039ec465f15a2cd06bf97530634dd/src/nuxt.ts#L6) produces a warning cited in this issue's title

[2022-05-10 22:01] #189 closed

[2022-05-12 02:05] LITTMER opened #199 "使用auto import之后，如何for循环使用。"
package.json
[code]
vite.config.ts
[code]
vue
[code]
![image](https://user-images.githubusercontent.com/26783653/167977304-a5177ccd-911f-4c39-a3a9-63ed19706aaa.png)
<icon-mdi-account />是生效的。
<component :key="index" :is="menu.icon" />没有作为组件起作用。
想请教一下，auto import之后，for循环应该怎么实现？

[2022-05-13 09:20] jens-morten-mikkelsen opened #200 "custom icon with multiple changeable colors"
Hello, im trying to figure out how/if i can have a custom icon with multiple changeable colors.
eg. for an svg like this one:
[code]
where i want to be able to control "#EEEEEE" and "#113053" i need the icon for different interaction states such as hover where UX wants a slightly different color in both places.

Is this doable currently, and how?

im using vite and vue2, and would love it if its p

[2022-05-13 09:28] userquin commented on #200
@jens-morten-mikkelsen just add `fill="currentColor"` to the svg, then, on the container of this svg try to change the color on hover.

[2022-05-13 10:37] jens-morten-mikkelsen commented on #200
@userquin Wont that just change 1 color?
i think i need to use query params or maybe props on a vue component to achive it, but im not sure

[2022-05-13 11:05] userquin commented on #200
@jens-morten-mikkelsen the problem is that the svg is `static`, you can change the import adding the fill attr on the query params, but once the svg is on the client that color cannot be changed, so you have 2 options:
- add dynamic class attr to the component adding `mouseover` and `mouseexit` listeners to change the class changing the color (just change `fill="none"` with `fill="currentColor"` a

[2022-05-13 11:10] jens-morten-mikkelsen commented on #200
okay, so there is no way to use either FileSystemIconLoader('', svg => svg.replace()), iconCustomizer or transform. To say, "replace #EEEEEE with fillcolor and replace #113053 with bgcolor. And then when i request/use the icon replace fillcolor and bgcolor with provided colors"

[2022-05-13 11:13] userquin commented on #200
@jens-morten-mikkelsen you can, but we have that limitation, the svg is the svg you request, once on the client is has one color, the requested, if you want to change dynamically that color, you will need to add some logic in your component around that svg.

[2022-05-13 11:17] jens-morten-mikkelsen commented on #200
okay, it sounds like i have to look else where or make something special for this case. Thank you very much for your help :)

[2022-05-13 11:17] #200 closed

[2022-05-17 06:17] onurusluca opened #201 "Can't change icon color(Vue 3 Vite)"
Hi!

While using unplugin-icons with Vue 3 and Vite with composition API Script Setup, I can't change the color.
I can change the size with no problem though.
Here is the code:

[code]

Vite config:

[code]

[2022-05-17 06:18] antfu commented on #201
We temporarily close this due to the lack of enough information. Please provide a [minimal reproduction](https://stackoverflow.com/help/minimal-reproducible-example) to reopen the issue. Thanks.

[2022-05-17 06:18] #201 closed

[2022-05-17 06:20] onurusluca commented on #201
@antfu Thanks for the reply,
No need for reproduction. I didn't do any changes. I am using the code from the documentation.
Is it possible to change the color with Vue 3 and Vite currently?

[2022-05-17 06:22] antfu commented on #201
https://github.com/antfu/unplugin-icons/tree/main/examples

[2022-05-18 16:52] silasabbott commented on #187
Are you saying we can manually set up auto-import in Svelte? Auto import is so convenient—I'd love to be able to use it in my Svelte projects

[2022-05-19 02:10] hairyf opened #202 "currentColor of the custom icon is not suitable for most cases"
I found a tool, maybe the documentation should remind developers to use
https://github.com/svg/svgo

[2022-05-20 09:50] TechAkayy opened #203 "Auto-import based on prop binding pattern"
Thanks for this amazing plugin. I'm using auto-import via unplugin-components, unicons (prefix is 'uil') iconset in the below example (https://stackblitz.com/github/techakayy/vuetify3-beta-unplugin-icons?file=src%2FApp.vue).

So, basically, `<i-uil-android>` will auto-import just fine as it uses the `{prefix}-{collection}-{icon}` tag pattern.

But, if I'm binding the icon as a prop (`uilShoppingCa

[2022-05-20 10:25] userquin commented on #203
@TechAkayy you can use the `v-alert` slots: https://stackblitz.com/edit/github-dranvy?file=src%2FApp.vue

You should also file an issue on vuetify: the prepend slot will not add the additional `i`, so the docs are wrong or it is a `bug`: https://next.vuetifyjs.com/en/api/v-alert/#slots

[2022-05-20 10:29] TechAkayy commented on #203
Many thanks @userquin. Yes, VAlert allows adding icons via slot. But, not all vuetify components supports icons via slot, for eg, [VBtn](https://next.vuetifyjs.com/en/api/v-btn/#slots), [VAvatar](https://next.vuetifyjs.com/en/api/v-avatar/#slots) etc, hence the above request.

[2022-05-20 10:50] userquin commented on #203
@TechAkayy https://discord.com/channels/340160225338195969/660898563139567625/977160663057195038

[2022-05-20 10:56] userquin commented on #203
@TechAkayy you can use `preset-icons` from `UnoCSS` instead:
- https://github.com/unocss/unocss/tree/main/packages/preset-icons
- https://uno.antfu.me/?s=i-twemoji-frog

[2022-05-20 11:08] TechAkayy commented on #203
Ohh woww.. thanks bunch @userquin :-) Much appreciated. Unocss is new to me, going to explore it tonight!

[2022-05-20 13:07] #203 closed

[2022-05-20 13:08] userquin commented on #203
`vuetify` should add a way to use custom icons via slot instead prop

[2022-05-20 13:10] TechAkayy commented on #203
Unocss icons preset is an amazing combo for vuetify :-) Thanks a lot for suggesting it..

https://stackblitz.com/github/techakayy/vuetify3-beta-unocss-icons

![image](https://user-images.githubusercontent.com/73772701/169534832-617800f3-563b-4bc3-a5c1-25b983e77b2c.png)

[2022-05-24 11:57] jens-morten-mikkelsen opened #204 "vue-tsc Cannot find module '~icons/ui/info' or its corresponding type declarations."
In our project running Vite and Vue2 (through vue-demi), when running `vue-tsc`, we get an error:
[code]
tsconfig:
[code]
vite.config:
[code]

Icon is `src/assets/icons/ui/info.svg`
with the following svg-code:
[code]

I've see an other issue that says to add "skipLibCheck: true" to tsconfig, but this has not worked.

[2022-05-28 16:16] TechAkayy commented on #203
Added feature request in vuetify - https://github.com/vuetifyjs/vuetify/issues/15164

[2022-05-28 16:54] Aerolii opened #205 "material-symbols 无法自动导入"
material-symbols 图标无法自动导入

[2022-05-30 07:09] amirhoseinsalimi commented on #204
Same here

[2022-05-30 15:49] SSardorf opened #206 "Failed to read source code from /vercel/path0/_virtual_~icons/mdi/instagram.jsx"
I get this when building on Vercel, and sometimes locally (using Nextjs). Redeploying usually fixes the issue

[code]

[2022-06-07 12:10] ennioVisco opened #207 "Nuxt 3 compatibility"
Related to https://github.com/antfu/unplugin-icons/issues/198, I have the feeling the module does not work with new Nuxt3 APIs, am I right? Although it seems to support nuxt bridge, so this should be a fairly small step

[2022-06-09 07:15] hlgf opened #208 "使用nvm导致的问题"
不知道是不是使用了nvm的问题,使用  Icons({autoInstall: true})会报错Couldn't find a package.json ,然后无法下载成功[http://test--web.test.upcdn.net/%E5%BE%AE%E4%BF%A1%E6%88%AA%E5%9B%BE_20220609100821.png](url)

[2022-06-09 07:16] antfu commented on #208
We temporarily close this due to the lack of enough information.
Please provide a [minimal reproduction](https://stackoverflow.com/help/minimal-reproducible-example) to reopen the issue.
Thanks.

[2022-06-09 07:16] #208 closed

[2022-06-09 07:17] hlgf commented on #208
``[图片](http://test--web.test.upcdn.net/%E5%BE%AE%E4%BF%A1%E6%88%AA%E5%9B%BE_20220609100821.png)

[2022-06-09 08:14] hasanerken opened #209 "Auto Import does not work in Quasar"
When I follow the instruction for Vue2/3 auto import for Quasar2, naturally it does not work. I saw the answer for webpack but I want to use it with Vite. When I follow the instructions without vue, it gives an error for "Icon `carbon/accessibility` not found.

[2022-06-09 08:18] hasanerken commented on #209
My bad, when I add " autoInstall: true," to the Icons plugin options it works well. Thanks.

[2022-06-09 08:18] #209 closed

[2022-06-09 13:19] itpropro commented on #177
Thanks for you detailed exploration @userquin that helped a lot!
Lot's of stuff, I didn't find in the documentation, as soon as I integrated this, I will create a little docs PR 📜
The packages were indeed quite old and some basic configuration missing as the repo was created in a few minutes in march 😅

[2022-06-10 04:02] webxmsj commented on #205
同样遇到了这个问题

[2022-06-13 13:14] mgutz commented on #201
@onurusluca and any other who might run into this issue

Some of the svg icons have hardcoded values, like stroke, so they are not easily overridden. Try an icon from another family.

[2022-06-14 04:16] jens-morten-mikkelsen opened #210 "Using auto import, generates auto import for components"
Hello 👋
I've implemented auto import to fix a compiler issue. But after doing so i'm noticing that my `components.d.ts` is starting to contain a lot of my vue components. Even some that doesn't use my icons.
Im just wondering, why this is happening?

[code]

[2022-06-14 05:51] antfu commented on #210
Sorry I don't understand your question.

[2022-06-14 05:55] jens-morten-mikkelsen commented on #210
@antfu my question is, why is it generating auto-importable components, that is not my icons.
from the code that is in my components.d.ts file, all i expected to see is:
[code]
here is my vite config:
[code]

[2022-06-14 05:58] antfu commented on #210
`unplugin-vue-components` auto imports all components under `src/components`. If you don't want t it, set

[code]

to disable

[2022-06-14 05:58] #210 closed

[2022-06-14 06:09] jens-morten-mikkelsen commented on #210
@antfu Okay, thanks.
Just for clearification if anybody runs into the same issue.
You still have to define your icon dir in the `dirs` option.
eg:
[code]

[2022-06-15 20:45] ennioVisco commented on #207
@antfu any ideas about this? it's kinda hard to follow on, since the naming has totally changed. What is nuxt-vite for example? https://github.com/antfu/unplugin-icons/blob/main/README.md:~:text=This%20module%20works%20for%20both%20Nuxt%202%20and%20Nuxt%20Vite

[2022-06-16 02:53] #207 closed

[2022-06-16 09:10] cuidong626 commented on #199
缺少一个配置  参考一下这个
https://github.com/antfu/unplugin-icons/blob/main/examples/vite-vue3/vite.config.ts

[2022-06-16 09:18] antfu commented on #205
We temporarily close this due to the lack of enough information.
Please provide a [minimal reproduction](https://stackoverflow.com/help/minimal-reproducible-example) to reopen the issue.
Thanks.

[2022-06-16 09:18] #205 closed

[2022-06-16 10:01] DamianGlowala opened #211 "Integration with Material Design Icons"
It would be amazing to integrate Material Design Icons into this tool! The current library I am using in a Nuxt project ([https://github.com/robcresswell/vue-material-design-icons](https://github.com/robcresswell/vue-material-design-icons)) is no longer updated and many icons are missing.

What do you think @antfu? Is it feasible?

[2022-06-16 10:04] DamianGlowala commented on #211
Just realised MDI are supported within Iconify, closing! 😄

[2022-06-16 10:04] #211 closed

[2022-06-16 11:13] DamianGlowala commented on #204
@antfu, any help with this one? 🙏

![image](https://user-images.githubusercontent.com/48835293/174058188-1c48896d-8b9e-49b4-99fb-2ba8b44217f8.png)

[2022-06-16 11:18] jens-morten-mikkelsen commented on #204
@DamianGlowala you can resolve it by using auto import :)
i'll also reference an other issue i added about auto import, importing more than just icons: #210 and comment: https://github.com/antfu/unplugin-icons/issues/210#issuecomment-1154756775

[2022-06-16 11:20] DamianGlowala commented on #204
Thanks for the pointer! Have you successfully integrated auto imports with Nuxt? :) Might work out of the box, but currently there is no section in README for these.

[2022-06-16 11:22] jens-morten-mikkelsen commented on #204
@DamianGlowala nope, only vite, sorry :)

[2022-06-16 11:24] DamianGlowala commented on #204
https://github.com/antfu/unplugin-icons/issues/118#issuecomment-973874000 so sad, auto import is not ready yet for Nuxt. I'll stick to looking at errors for now as long as the project builds 😄

[2022-06-16 11:51] DamianGlowala commented on #204
**UPDATE for Nuxt users**

The following entry in `nuxt.config` removed the import errors:
[code]

[2022-06-17 21:01] userquin commented on #202
@TuiMao233 have you read this entry https://github.com/antfu/unplugin-icons#advanced-custom-icon-set-cleanup?

[2022-06-20 06:58] LUDA0831 opened #213 "webstorm nuxt3 Cannot resolve directory '~icons'"
![image](https://user-images.githubusercontent.com/45849881/174542449-705d31a1-b76a-4c1b-a4c8-c9951f46446a.png)
## webstorm error Cannot resolve directory '~icons'
webstorm Version 2022.1.2
nuxt Version 3.0.0-rc.4

[2022-06-20 09:41] arminYer opened #214 "Feature request: Add support for animated icons"
Icons:
http://icon-sets.iconify.design/line-md/

Error message:
```Icon `line-md/buy-me-a-coffee-filled` not found```

[2022-06-21 19:17] userquin commented on #187
@silasabbott yes you can use auto import in suelte and sveltekit,  check the examples folder in the auto import repo

[2022-06-22 21:39] #187 closed

[2022-06-23 05:08] zhouzilong2020 commented on #114
Thanks so much for this, but there is a minor mistake Should be ``` resolvers: [IconsResolver()]```

Thanks so much for this, but there is a minor mistake:
[code]

[2022-06-26 13:14] killpowa opened #215 "how to make this work for an astro + solidjs website?"

[2022-06-27 04:52] kamilic commented on #196
It seems that you are using vue3 in this example. I found the same problem, @click will not attach event listener to svg element on vue2 project.

[2022-06-27 13:59] antfu commented on #196
We temporarily close this due to the lack of enough information.
Please provide a [minimal reproduction](https://stackoverflow.com/help/minimal-reproducible-example) to reopen the issue.
Thanks.

[2022-06-27 13:59] #196 closed

[2022-07-01 00:38] zuramai commented on #215
Use the vite configuration as described in the README

[code]

[2022-07-01 01:32] jaho-wu opened #218 "Collection icon-park-solid-home will be resolved to icon-park/solid-home when using auto importing"
为什么当我使用 icon-park-solid 的图标时，引入的图标集合会自动安装成 icon-park/solid。
我应该怎么使用才能正确引入

[2022-07-01 06:17] roamiiing commented on #94
Hey! Is there any update on this or any known workaround? This is the only thing that stops my team from enabling webpack cache in CI. It would be okay if we could somehow disable cache for `_virtual_~icons` (set `cacheable` option for webpack loader to `false` or something like that), but I can't find a way to do that.

[2022-07-02 11:44] ennioVisco opened #219 "Icons auto-import for Nuxt 3"
Inspired by https://github.com/antfu/unplugin-icons/issues/213, it would be nice if there was a way to perform icons auto-import in nuxt 3.

However, the Nuxt 3 docs doesn't say how to implement it: https://v3.nuxtjs.org/guide/concepts/auto-imports#directory-based-auto-imports.

[2022-07-02 12:03] antfu commented on #219
There is currently no way to do that in Nuxt, pending PRs for Nuxt 2:

- https://github.com/antfu/unplugin-icons/pull/63
- https://github.com/nuxt/components/pull/234

While we haven't discussed about we should implement it in Nuxt 3. Ideally, it would be better for Nuxt to expose a resolve function to match with unknown components similar to `unplugin-vue-components`. /cc @pi0

While on the other

[2022-07-08 16:58] Froskk opened #220 "How to use with Remix"
Any idea how to incorporate this into [Remix](https://remix.run/)? I don't think it exposes the underlying bundler in the same way Next.js does.

https://remix.run/docs/en/v1/api/conventions#remixconfigjs

Adding `unplugin-icons` to `serverDependenciesToBundle` leaves the build hanging and provides no opportunity for config.

Any ideas?

[2022-07-12 09:37] wangrongding opened #221 "There are tsx and vue files in the project, can't both files be automatically imported?"
In the .vue file, it works fine
[code]

But in tsx， I tried to write like this, but it didn't work😢

[code]

[2022-07-12 09:52] userquin commented on #221
@wangrongding check `React/Solid` in the README: https://github.com/antfu/unplugin-icons#auto-importing

Also change the extension to `tsx`, you've `jsx` in your configuration.

[2022-07-12 10:03] wangrongding commented on #221
However, if you change the `extension` to `tsx`, the automatic import of the .vue file will fail.

[2022-07-12 10:14] wangrongding commented on #221
Because some logic can be implemented very flexibly in tsx.
😢😢So, it can't be done?

[2022-07-12 10:21] wangrongding commented on #221
@userquin  OK, thank you very much!👍🥰

[2022-07-12 10:27] userquin commented on #221
@wangrongding can you put here your configuration?

[2022-07-12 10:32] wangrongding commented on #221
ok~

[code]

[2022-07-12 10:42] wangrongding commented on #221
@userquin  OK, I'll try it~👍

It's a little weird to write.😂
When you update the version, I will rewrite the logic of this piece again.

[2022-07-12 11:01] userquin commented on #221
@wangrongding

maybe we need to add another Icons plugin, that's, one for vue and another for `tsx` and we also need to change the prefix on the resolvers

Instead having this:
[code]

we should have this:
[code]

[2022-07-12 11:05] wangrongding commented on #221
@userquin thank you, my friend.
However, you need to wait for a while, I will provide you with it when I get home from getting off work later~ 😂

[2022-07-12 11:13] userquin commented on #221
@wangrongding I'll check your repro tonight when I get off work too

[2022-07-12 11:24] wangrongding commented on #221
💖It's okay, this problem is not urgent, I am working on an open-source  `management back office`

The problem we are talking about is happening in this repository.
https://github.com/wangrongding/vue-super-admin/blob/main/src/layout/SideBar/Menu.tsx#L45

[2022-07-12 12:22] didier commented on #206
Same here. Super annoying. Have to remove node_modules and reinstall every time this happens.

[2022-07-12 18:49] userquin commented on #221
@wangrongding should be something like this?
![imagen](https://user-images.githubusercontent.com/6311119/178571487-febf42d7-062f-4a9b-ab38-3bcc4f44de5e.png)

[2022-07-12 19:16] userquin commented on #221
@wangrongding check also this another commit, just removing the `i` prefix from the second resolver in components plugin:
https://github.com/userquin/vue-super-admin-unplugin-icons-221/commit/0c9205ec0f0ec43511e6a20eb0f8b774db3268ab

[2022-07-12 22:26] silasabbott commented on #164
For SvelteKit, with the new 'alias' option in `svelte.config.js`, you can do this easily:

<img width="335" alt="Screen Shot 2022-07-12 at 3 23 24 PM" src="https://user-images.githubusercontent.com/8752644/178606643-ca394943-c9dd-4058-9cc1-35811a0f9786.png">

[2022-07-13 02:42] wangrongding commented on #221
Wow! Thank you, my good man!💖

I apologize for not providing you with the minimum replica library in time after work yesterday.

I wish you a happy life and all the best👍

[2022-07-13 02:43] #221 closed

[2022-07-13 06:01] antfu commented on #164
When using custom aliases you need to add .d.ts to handle it properly
https://github.com/antfu/unplugin-icons/tree/main/types

[2022-07-13 06:01] #164 closed

[2022-07-13 20:34] silasabbott commented on #164
Oh yep, thanks, I had just figured that out before I seeing this. For anyone that comes across this, here's what I added in SvelteKit:

[code]

[code]

I just copied the declaration from the [**svelte.d.ts**](https://github.com/antfu/unplugin-icons/blob/8353b872cf350203f156730844892ccd5350a2b5/types/svelte.d.ts#L5) file and changed `~icons/*` to my custom alias.

Using `virtual:icons` didn't work

[2022-07-14 02:48] pino-cao commented on #199
动态加载菜单 icon 时，我也遇到同样的问题

[2022-07-14 03:32] TuiMao233 commented on #202
Of course, but for example custom svg's currentColor, usually this is not applicable

[code]

Most svg's are complex, maybe the documentation should note that we can use [svgo](https://github.com/svg/svgo) for better processing

![image](https://user-images.githubusercontent.com/49724027/178892118-0d69cf3f-0c4d-4b84-82fc-30015bdcabcd.png)

[2022-07-19 10:06] MichaelBrunn3r commented on #149
After a lot of research I actually got Storybook working with Svelte and Vite. Using Iconify Svelte components actually works, but unplugin-icons only works in sveltekit.

I think is has similar loading problems though:
`import IconAccountBox from 'virtual:icons/mdi/bell.svelte';` yields the error
 `ENOENT: no such file or directory, open '~icons\mdi\bell.svelte'`

[2022-07-19 11:49] didier commented on #206
Should note: even that doesn't consistently fix it.

[2022-07-31 00:22] omnjpa27516 commented on #150
How did you solve this?

[2022-08-03 06:15] Wyatex opened #222 "[Feature]Add support for qwik"
### Clear and concise description of the problem

希望能够为qwik提供支持

### Suggested solution

在`src/types.ts`的tsx中添加`qwik`选项，并在`types`文件夹中添加适配qwik的组件定义。

### Alternative

_No response_

### Additional context

_No response_

### Validations

- [x] Follow our [Code of Conduct](https://github.com/antfu/.github/blob/main/CODE_OF_CONDUCT.md)
- [X] Read the [Contributing Guide](https://github.com/antfu/cont

[2022-08-03 06:23] #222 closed

[2022-08-03 06:25] silasabbott commented on #204
I'm experiencing this *only* in production with SvelteKit/Vite deploying to Vercel. My `global.d.ts` file has this line:
[code]
and this is the error thrown when trying to build:
[code]
Everything works perfectly in development.

[2022-08-03 06:25] Wyatex opened #224 "Feature request: support qwik"
希望能为qwik框架提供支持

[2022-08-03 06:36] silasabbott commented on #206
I'm also getting this constantly on build—locally or to Vercel. I'm using SvelteKit. Everything works great in development, rebuilding doesn't fix it.

<img width="1189" alt="Screen Shot 2022-08-02 at 11 34 47 PM" src="https://user-images.githubusercontent.com/8752644/182540282-08989a41-c40c-4895-8684-34b934a6d3d6.png">

[2022-08-05 01:26] blooddrunk commented on #5
Just found that `defineAsyncComponent` also won't work. Had to use `@iconify/vue` and `@iconify/utils` to render icons dynamically. Hope there would be a way eventually.

[2022-08-09 05:49] zhuhaobam commented on #37
Is there any way to use it like this
I want to have a limited array to download the required icons in advance, so that the H function can be used freely
[code]

[2022-08-09 05:51] zhuhaobam commented on #37
@antfu
Please describe a problem on my previous floor
Is there an H function that uses rendering, such as menu icons

[2022-08-11 21:29] levidavidmurray commented on #205
I ran into this issue as well. I just had to update my `@iconify/json` and `unplugin-icons` versions. `material-symbols` was missing from whatever version I was on.

[2022-08-16 09:46] codesyofo opened #227 "vuecli5.0.8+vue2.7.8 Error: Icon `i/mg` not found"
[code]

同样的配置 `vite+vue3` 能正常使用，`vuecli+vue2` 会把 `input` `img`等 `i` 开头的加载

[2022-08-16 21:24] silasabbott commented on #206
Using `virtual:icons` instead of `~icons` to reference icons has seemed to fix it for me.

[2022-08-20 15:49] overtrue commented on #5
https://github.com/iconify/iconify/tree/master/packages/vue

[2022-08-22 04:28] lrstanley commented on #5
Doing this on multiple sites at the moment without issues. May want to make sure you have explicitly enabled the collection via `enabledCollections`. Can't recall if the auto-import as non-component requires that or not, but I do have that in my config, and no issues.

[2022-08-26 11:17] erkage opened #229 "style tags in svg files are get omitted"
### Describe the bug

The <style> tags inside .svg custom icons are get omitted when using them.

### Reproduction

https://stackblitz.com/edit/vue3-script-setup-with-vite-78wpsw?file=src/App.vue

### System Info

[code]

### Used Package Manager

pnpm

### Validations

- [X] Follow our [Code of Conduct](https://github.com/antfu/.github/blob/main/CODE_OF_CONDUCT.md)
- [X] Read the [Contributing Gu

[2022-08-27 23:15] HayateLaTech commented on #219
While I appreciate the blog-post about UnoCSS and it being a solution that actually works, I think I'll write a quick tutorial how to make it all work in Nuxt 3 directly.

Like seriously xD I've been trying for 3 days straight to make unplugin-icons work in Nuxt 3 and this has been giving me so many headaches.. ;w; and finding the solution the one and only antfu also switched for is hella difficul

[2022-08-30 07:14] Oskar-Nilsen-Roos commented on #128
For anyone still having this issue, referencing unplugin-icon types in your env.d.ts seems to be the solution if you're working from a monorepo structure, like so:

[code]

And then replacing "vue3" with whatever front-end library you're working with.

[2022-08-30 15:23] litchia opened #230 "您好，请问如何在vite unplugin的情况下在component或者jsx中使用呢？求助！谢谢！"
如题，求帮助！

[2022-08-30 15:25] litchia commented on #230
在template中使用时，会自动编译成svg，但是component或者jsx中，只是会被当成一个标签。

[2022-08-30 16:05] antfu commented on #230
We temporarily close this due to the lack of enough information.
Please provide a [minimal reproduction](https://stackoverflow.com/help/minimal-reproducible-example) to reopen the issue.
Thanks.

[2022-08-30 16:05] #230 closed

[2022-08-31 08:10] talaxasy commented on #213
Any help?

[2022-09-02 06:28] iztsv opened #231 "infinite compile for old unplugin"
### Describe the bug

I faced with infinite compile in webpack watch mode. When I install my node_modules, `unplugin-icons@0.14.8` uses `unplugin@0.8.1` instead of the last `unplugin@0.9.5`. The bug related to infinitive compile was fixed in `unplugin@0.9.3` (https://github.com/unjs/unplugin/pull/155)

### Reproduction

unplugin-icons@0.14.8 and unplugin@0.8.1

### System Info

[code]

### Used Pa

[2022-09-02 10:34] #231 closed

[2022-09-03 05:25] scil commented on #206
I met this kind of error with `webpack --watch` first, then I exit webpack then execute it again,  the error did not resurface again.

[2022-09-03 21:47] darianstlex commented on #213
[code]

[2022-09-03 21:51] darianstlex commented on #213
or: https://github.com/antfu/unplugin-icons/issues/204#issuecomment-1157570814

[2022-09-04 07:49] talaxasy commented on #213
This issue can be closed

[2022-09-05 06:29] #213 closed

[2022-09-05 12:30] Assone opened #233 "Error parsing the introduction of fluent-emoji"
### Describe the bug

The icon of fluent-emoji is referenced in the vite project, but the plugin will parse it as fluent's icon, causing the reference to fail.
It should resolve to the @iconify-json/fluent-emoji dependency, not to @iconify-json/fluent.
And vscode's plugin Iconify IntelliSense can't preview the fluent-emoji icons either.

### Reproduction

https://stackblitz.com/edit/vitejs-vite-jv

[2022-09-05 16:56] userquin commented on #233
I have it working using an alias for `fluent-emoji`, check the configuration: https://stackblitz.com/edit/vitejs-vite-qbzfu7?file=vite.config.ts

[2022-09-05 22:45] scil commented on #206
encountered repeatly.  I remove  dir node_modules and  tentatively remove this webpack config `cacheDirectory: true`.

hope it go well without this error.

[2022-09-06 08:27] Assone commented on #233
Thanks, it works. But vscode's plugin Iconify IntelliSense still doesn't work

[2022-09-06 08:27] #233 closed

[2022-09-06 08:40] Hyphon opened #234 "cannot find package 'vue-template-es2015-compiler'"
### Describe the bug

when upgrade to vue 2.7.10, project is not working as expected.

error is `Cannot find package 'vue-template-es2015-compiler' imported from /home/projects/vitejs-vite-vt4gdf/node_modules/local-pkg/index.mjs`

### Reproduction

https://stackblitz.com/edit/vitejs-vite-vt4gdf?file=vite.config.ts

### System Info

[code]

### Used Package Manager

npm

### Validations

- [X] Foll

[2022-09-06 08:45] userquin commented on #233
I don't use VSCode, check if you can provide some configuration to the plugin...

[2022-09-09 14:17] ennioVisco commented on #219
Thanks for the guide, I'm sure it will be useful to many.
I'm still puzzled about the div-based approach to be honest: I like the component-oriented approach, I think it looks cleaner and more intuitive, although I do recognize the benefits that @antfu cleverly points out in his article.

Moreover, while I can recognize the benefits of UnoCSS in an Atomic-CSS settings, I see little to no value whe

[2022-09-10 10:01] antfu commented on #219
Thanks for the detailed guide @HayateLaTech!

If you still prefer to use dev based approach you may also try with https://twitter.com/Atinux/status/1566908478286958593.

[2022-09-11 20:39] cimchd commented on #229
I encountered the same problem when I tried to add custom duotone icons.

[2022-09-14 14:13] anburocky3 opened #235 "Cannot resolve directory '~icons' in PHPStorm IDE"
How to suppress or get rid of these IDE errors?

![image](https://user-images.githubusercontent.com/15264938/190178252-f10b79ff-f845-49fd-b050-6fa8d415b2cd.png)

Adding docs on that, in the readme, would be super helpful.

[2022-09-14 14:33] ennioVisco commented on #213
@LUDA0831 how did you solve it? I still have the issue :/

[2022-09-14 14:46] userquin commented on #235
if not working try adding this to your `tsconfig.json`:
[code]

[2022-09-14 14:48] anburocky3 commented on #235
I have already added the types in the `tsconfig.json` file.

I'm using Laravel with Vite, Where should i place the file `vite-env.d.ts`?

I placed in `root` as well as `resources/js/` both, didn't pick up that, same issue.

[2022-09-14 14:49] userquin commented on #235
what's the content of your tsconfig.json file?

[2022-09-14 14:52] anburocky3 commented on #235
These are my `tsconfig.json`
[code]

[2022-09-14 15:05] userquin commented on #235
try adding the dts file inside resources folder and add "resources/**.d.ts" to the include entry.

have you configured TS in the IDE (IntelliJ screenshot)?

![imagen](https://user-images.githubusercontent.com/6311119/190191767-d46607d1-3509-41cf-a32c-da7c06148d65.png)

[2022-09-14 15:10] userquin commented on #235
For example, Vue3 example resolving, but the react one missing (in both cases the IDE will go to the definition):

![imagen](https://user-images.githubusercontent.com/6311119/190193113-2c6abec1-6c0b-4e94-bceb-fbb9d72342b0.png)

[2022-09-14 15:19] anburocky3 commented on #235
This is what i did:
1. Created `vite-env.d.ts` inside `resources` directory with the following code.
[code]
2. Added the entry in the `tsconfig.json` file
[code]
3. Yes, my Typescript is configured correctly like this.
![image](https://user-images.githubusercontent.com/15264938/190195365-2a4f28a0-9dd0-4dd8-960d-172f21eea274.png)

After all this, still:
![image](https://user-images.githubuserconten

[2022-09-15 03:41] sdklove00 opened #236 "why the vue-cli-service build error with v0.14.9?"
### Describe the bug

[code]

<img width="434" alt="image" src="https://user-images.githubusercontent.com/17194772/190307890-be4a53ae-66f6-4924-9dca-1aa9be5e3672.png">

### Used Package Manager

npm

[2022-09-15 05:34] ennioVisco commented on #213
Ok, thanks, but where did you put it?

[2022-09-15 05:37] LUDA0831 commented on #213
@ennioVisco

![image](https://user-images.githubusercontent.com/45849881/190322808-635d39c7-af78-4ab0-a4ff-f4230804f689.png)

[2022-09-15 06:34] LUDA0831 commented on #235
You can refer to this issues #213

[2022-09-15 10:23] anburocky3 commented on #235
Thank you and it fixed the errors. Thank you.

[2022-09-15 10:23] #235 closed

[2022-09-17 21:26] Inori-Lover commented on #236
face same problem

[2022-09-17 22:09] Inori-Lover commented on #236
https://github.com/Inori-Lover/unplugin-icon-repo

[2022-09-18 04:00] #236 closed

[2022-09-18 21:02] darianstlex commented on #236
seems the fix didn't solve the issue

[2022-09-19 02:41] MeloncholyShiro opened #237 "No ?raw types in react.d.ts"
### Describe the bug

[code]

if use types just from the library, i can't use `?raw` query, because ts, based on provided d.ts think this is component,

MB I'm missing sampling, but now i need to write custom types instead of Plug'N'Play.

Should i make PR about fix this stuff?

### Reproduction

https://codesandbox.io/s/proud-river-hcuf9o?file=/src/App.tsx

### System Info

[code]

### Used Packa

[2022-09-20 14:11] Inori-Lover commented on #199
https://github.com/antfu/unplugin-icons/issues/5

[2022-09-22 10:31] husayt commented on #219
I found unocss to be the most organic/holistic way to get icons working in line with tailwind syntax/dynamic icons/icon classes and etc. With that you don't need any other libraries.

You can have multiple styles for icons and most importantly this works in framework agnostic way i.e. across vue, react, svelte and etc
[code]

One tip: to get dynamic icons working just add them to safelist in unocs

[2022-09-29 09:31] #188 closed

[2022-09-29 17:03] anburocky3 commented on #213
When i have any other declaration then the `~icons/*` it fails. Why is that?

[2022-10-04 10:21] xingshuyin opened #240 "i want to use the componentis of vue3 to show the icon"
i wang to use like that
`<component is='ep:eleme-filled'></component>`
but is not work, i can only use like this
`<ep:eleme-filled style="font-size: 20px; color: beige;" />`
so does there any method to use autoimport icon on component ?

[2022-10-06 06:36] parade0393 commented on #240
same question

[2022-10-06 06:43] parade0393 commented on #240
#5

[2022-10-13 17:28] stramel commented on #237
Seems like this is likely limited by https://github.com/microsoft/TypeScript/issues/38638

`*?raw` could be added but it would not match anything past the `?raw`

[2022-10-13 17:41] stramel opened #242 "Compiler extensions and query params conflicting"
### Describe the bug

When utilizing an import with query params such as `?width=1em&height=1em` along side a compiler like `'svelte'`. The result is a broken import path.

For example using the `vite-svelte` example,

[code]
[code]

removal of the `raw` query param causes the virtual import path to break. Below is the before and after the above changes:

**Before:** `~icons/mdi/alarm-off?raw&widt

[2022-10-13 19:15] stramel commented on #154
Just for clarity:

Since Astro allows for multiple different [UI Framework integrations](https://docs.astro.build/en/core-concepts/framework-components/), you can really pick whichever compiler you would want to use.

For example, if you were to be using the `solidjs` integration (like in #215), you could use the following config.

[code]

then use the component like you would with your integratio

[2022-10-13 21:19] userquin commented on #214
have you installed `line-md` collection?

![imagen](https://user-images.githubusercontent.com/6311119/195712677-d2e4ed3c-8bbe-4116-9f4e-f0ce2b436b6e.png)

[2022-10-16 07:36] #154 closed

[2022-10-20 06:39] schlichtanders commented on #154
It turns out unplugin-icons recently added astro support with official documentation in the readme
https://github.com/antfu/unplugin-icons#configuration

[2022-10-20 10:10] chioio opened #245 "🐞 Custom collection not work in `h()` by `collection:icon-name`"
### Describe the bug

**Custom collection**: `app`
**File path**: `/assets/icons/trash.svg`

**Render function**
[code]

**Error produce**
[code]

**! But success using in template like `<i-app:trash />`**

### Reproduction

None

### System Info

[code]

### Used Package Manager

pnpm

### Validations

- [X] Follow our [Code of Conduct](https://github.com/antfu/.github/blob/main/CODE_OF_CONDUCT.m

[2022-10-20 12:07] stramel commented on #154
Yep! I just got the Astro support merged 🙂

[2022-10-20 17:23] dongnaebi commented on #213
import { FunctionalComponent, SVGAttributes } from 'vue'
  const component: FunctionalComponent<SVGAttributes>
  export default component
}

can we add it to README.md?

[2022-10-25 06:10] antfu commented on #245
If you mean to use with `unplugin-vue-components`, it works by static replacement. Which your runtime approach would not work.

[2022-10-25 06:10] #245 closed

[2022-10-25 12:55] Idered commented on #219
This works for me in nuxt 3:

[code]

[2022-10-25 15:22] RuBaWa opened #246 "IconResolver not working with custom icons"
### Describe the bug

IconsResolver don't find svg icons for global use. Manual import with "import MyIcon from '~icons/myName/my-icon';" is working.

This is my vite.config.ts:

[code]

[code]

### Reproduction

I  tried it with "vite + vue3" example from this repo, it only works with default config. If i change customCollections name from "custom" to another name, this items are not listet anymo

[2022-10-27 01:57] lrurif opened #247 "unplugin-icons's autoInstall whether to support pnpm + monorepo project"
### Describe the bug

 unplugin-icons's auto install whether to support pnpm + monorepo project

### Reproduction

 1

### System Info

[code]

### Used Package Manager

pnpm

### Validations

- [X] Follow our [Code of Conduct](https://github.com/antfu/.github/blob/main/CODE_OF_CONDUCT.md)
- [X] Read the [Contributing Guide](https://github.com/antfu/contribute).
- [X] Check that there isn't alread

[2022-10-30 12:12] KuhlTime commented on #246
Hi @RuBaWa maybe check that the following:

1. Whether you included your `components.d.ts` file inside your`tsconfig.json`:
[code]

2. Whether you used the right element syntax
[code]

[2022-11-05 01:30] #240 closed

[2022-11-06 21:33] simondib commented on #92
I am also having this problem with Storybook not importing the icons in the story template (even though inside a Vue component _does_ work).

A workaround is to explicitly import the icon at the top of the story file and then in the story template, e.g.

[code]

[2022-11-08 08:37] wangys519 opened #248 "autoInstall not work (自动安装图标集失败)"
### Describe the bug

设置`autoInstall: true`并在项目中使用`element-plus`的某个图标, `unplugin-icons`会尝试以命令***yarn add -D --prefer-offline @iconify-json/ep***安装`@iconify-json/ep`, 但是, 这会导致报错, 安装失败.
`vite.config.ts`配置如下:
[code]
报错信息如下:
[code]
当手动执行`yarn add -D @iconify-json/ep`(***去掉--prefer-offline***)时, 安装成功, 图标使用正常

### Reproduction

上边贴的是完整的vite.config.ts配置内容, 应该很容易浮现的

### System Info

[code]

### Used Pack

[2022-11-16 06:44] so1ve opened #249 "Cannot work with nuxt 3.0.0-rc.14"
### Describe the bug

When using unplugin-icons with nuxt 3.0.0-rc.14, this error occurs:

[code]

Probably caused by https://github.com/nuxt/framework/pull/9010

### Reproduction

https://stackblitz.com/edit/nuxt-starter-sdf5sn

### System Info

[code]

### Used Package Manager

pnpm

### Validations

- [X] Follow our [Code of Conduct](https://github.com/antfu/.github/blob/main/CODE_OF_CONDUCT.md

[2022-11-16 11:07] userquin commented on #234
@Hyphon @IreneBenito can you try using `vue3` compiler? https://stackblitz.com/edit/vitejs-vite-zyfhyg?file=vite.config.ts

[2022-11-16 13:16] Hyphon commented on #234
Its ok with `compiler: 'vue3'`, thx very much.
Would there be a preset '2.7' ? Vue v2.7 with compiler vue3 is a little confused for me...

[2022-11-16 13:20] userquin commented on #234
@Hyphon I'll update the README later, also checking if it is required, if so I'll create a new 2.7 compiler

[2022-11-16 13:22] #234 closed

[2022-11-17 13:46] userquin commented on #234
@Hyphon https://github.com/antfu/unplugin-icons/pull/251

[2022-11-18 03:10] Hyphon commented on #234
thank u :)

[2022-11-19 07:21] Hao1617 commented on #199
此问题解决了吗，我也遇到这个了

[2022-11-19 10:16] so1ve commented on #199
不能这么用。。。。。
你觉得这怎么去做静态分析 还不如把图标导入进来 然后再用component标签

[2022-11-22 10:28] #249 closed

[2022-11-24 13:21] RuBaWa commented on #246
You are rigtht, its working with:

[code]

I was confused, because this custom icons are not updated in components.d.ts dts file, where all other components are listet. In demo project for vite + vue3 they also listet in this file. But after some tests it is working fine without beeing listet in this file.

**One more question:**
I would like to build a wrapper component like
[code]

Something lik

[2022-11-24 21:31] KuhlTime commented on #246
Perfect. Glad I could help @RuBaWa ;)

I think this issue can be closed then.

[2022-11-26 07:27] SegaraRai opened #253 "Multiple compiler support?"
### Clear and concise description of the problem

Especially in a meta-framework like Astro, where we can mix frameworks, we may want to import icons as Astro components in the .astro file and as Vue components in the .vue file.
Currently we can retrieve raw SVG text using `?raw` query, but I think it would be nice to have a more flexible choice of formats.

### Suggested solution

If an extension

[2022-11-29 05:05] chenhongen commented on #227
webpack vue3下也有这个问题